In [2]:
# Importing Libraries
import requests
from selenium import webdriver
from bs4 import BeautifulSoup
import time
import pandas as pd

# Question 1 Data Analyst first 10 jobs data.

In [2]:
url = "https://www.naukri.com/data-analyst-jobs-in-bangalore-bengaluru?k=data%20analyst&l=bangalore%2Fbengaluru&cityTypeGid=97"
page= requests.get(url)
page.text

'<!DOCTYPE html> <html lang="en"> <head> <meta http-equiv="X-UA-Compatible" content="IE=Edge" /> <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" /> <link rel="dns-prefetch preconnect" href="//static.naukri.com"> <link rel="dns-prefetch preconnect" href="//img.naukri.com"> <link rel="dns-prefetch preconnect" href="//logs.naukri.com"> <link rel="dns-prefetch preconnect" href="//lg.naukri.com"> <link rel="dns-prefetch" href="https://www.googletagmanager.com" /> <base href="//www.naukri.com" /> <link rel="manifest" href="./manifest.json"> <link rel="preload" as="style" href="//static.naukri.com/s/7/109/c/main.7b9f096a.min.css"/> <link rel="preload" as="script" href="//static.naukri.com/s/7/109/j/main.dd29822b.min.js"> <script>\n        window.ipAddress = "www.naukri.com";\n        window.DEBUG = true;\n        window.appId = 135;\n                    var isCrawler = false;\n                            var ucBrowser = false;\n            </script>   <style type="text/css"> .splScrn{ height: 100%; } body{margin:0} .nkIcon { width: 9rem; margin: auto; position: relative; padding-top: 95px; } #circleG { width: 9rem; margin: auto } .circleG { background-color: #2DABE2; float: left; height: 14px; margin: 5px; width: 14px; animation-name: bounce_circleG; -o-animation-name: bounce_circleG; -ms-animation-name: bounce_circleG; -webkit-animation-name: bounce_circleG; -moz-animation-name: bounce_circleG; animation-duration: 1.8s; -o-animation-duration: 1.8s; -ms-animation-duration: 1.8s; -webkit-animation-duration: 1.8s; -moz-animation-duration: 1.8s; animation-iteration-count: infinite; -o-animation-iteration-count: infinite; -ms-animation-iteration-count: infinite; -webkit-animation-iteration-count: infinite; -moz-animation-iteration-count: infinite; animation-direction: normal; -o-animation-direction: normal; -ms-animation-direction: normal; -webkit-animation-direction: normal; -moz-animation-direction: normal; border-radius: 50%; -o-border-radius: 50%; -ms-border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50% } #root, body, html { height: 100% } #circleG_1 { animation-delay: .45s; -o-animation-delay: .45s; -ms-animation-delay: .45s; -webkit-animation-delay: .45s; -moz-animation-delay: .45s } #circleG_2 { animation-delay: .65s; -o-animation-delay: .65s; -ms-animation-delay: .65s; -webkit-animation-delay: .65s; -moz-animation-delay: .65s } #circleG_3 { animation-delay: .85s; -o-animation-delay: .85s; -ms-animation-delay: .85s; -webkit-animation-delay: .85s; -moz-animation-delay: .85s } #circleG_4 { animation-delay: 1.05s; -o-animation-delay: 1.05s; -ms-animation-delay: 1.05s; -webkit-animation-delay: 1.05s; -moz-animation-delay: 1.05s } #circleG_5 { animation-delay: 1.25s; -o-animation-delay: 1.25s; -ms-animation-delay: 1.25s; -webkit-animation-delay: 1.25s; -moz-animation-delay: 1.25s } @keyframes bounce_circleG { 50% { width: 10px; height: 10px; margin: 7px; background-color: rgba(12, 109, 182, 0) } } </style> </head> <body>  <noscript> <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NX744H"height="0" width="0" style="display:none;visibility:hidden"></iframe> </noscript>  <div id="root"> <div class="splScrn"> <div class="row top"> <div class="nkIcon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 315 315"><style type="text/css"> .st0{fill:#2DABE2;} .st1{fill:#0C6DB6;} .st2{fill:#EC2227;} .st3{fill:#444444;} .st4{fill-rule:evenodd;clip-rule:evenodd;fill:#EC2227;} .st5{fill-rule:evenodd;clip-rule:evenodd;fill:#0C6DB6;} </style><path class="st0" d="M0 200.8h10v4.6c1.5-1.9 3-3.2 4.5-4 1.5-0.8 3.4-1.2 5.6-1.2 3 0 5.3 0.9 7 2.7 1.7 1.8 2.5 4.5 2.5 8.2v17.8H18.8v-15.4c0-1.8-0.3-3-1-3.7 -0.7-0.7-1.6-1.1-2.7-1.1 -1.3 0-2.4 0.5-3.2 1.5 -0.8 1-1.2 2.8-1.2 5.3v13.4H0V200.8z"/><path class="st0" d="M45.8 209.9l-10.3-1.1c0.4-1.8 0.9-3.2 1.7-4.2 0.7-1 1.8-1.9 3.2-2.7 1-0.5 2.3-1 4.1-1.3 1.7-0.3 3.6-0.4 5.6-0.4 3.2 0 5.8 0.2 7.8 0.5 2 0.4 3.6 1.1 4.9 2.3 0.9 0.8 1.6 1.9 2.2 3.4 0.5 1.5 0.8 2.8 0.8 4.2v12.4c0 1.3 0.1 2.4 0.3 3.1 0.2 0.7 0.5 1.7 1.1 2.9H56.9c-0.4-0.7-0.7-1.3-0.8-1.6 -0.1-0.4-0.2-1-0.4-1.8 -1.4 1.4-2.8 2.3-4.2 2.9 -1.9 0.8-4.1 1.2-6.6 1.2 -3.3 0-5.9-0.8-7.6-2.3 -1.7-1.5-2.6-3.5-2.6-5.7 0-2.1 0.6-3.9 1.9-5.2 1.2-1.4 3.6-2.4 6.9-3.1 4-0.8 6.6-1.4 7.8-1.7 1.2-0.3 2.5-0.8 3.8-1.3 0-1.3-0.3-2.2-0.8-2.8 -0.5-0.5-1.5-0.8-2.9-0.8 -1.8 0-3.1 0.3-4 0.8C46.8 207.8 46.2 208.6 45.8 209.9zM55.1 215.5c-1.5 0.5-3 1-4.6 1.4 -2.2 0.6-3.6 1.2-4.1 1.7 -0.6 0.6-0.9 1.2-0.9 2 0 0.8 0.3 1.5 0.9 2.1 0.6 0.5 1.5 0.8 2.6 0.8 1.2 0 2.3-0.3 3.3-0.9 1-0.6 1.8-1.3 2.2-2.1 0.4-0.8 0.6-1.9 0.6-3.3V215.5z"/><path class="st0" d="M101.6 228.8h-10v-4.5c-1.5 1.9-3 3.2-4.5 4 -1.5 0.8-3.4 1.2-5.6 1.2 -3 0-5.3-0.9-6.9-2.7 -1.7-1.8-2.5-4.5-2.5-8.2v-17.8h10.8v15.4c0 1.8 0.3 3 1 3.7 0.7 0.7 1.6 1.1 2.7 1.1 1.3 0 2.3-0.5 3.2-1.5 0.8-1 1.2-2.8 1.2-5.3v-13.5h10.7V228.8z"/><path class="st0" d="M108.1 190.1h11v20l8-9.3h13.2l-10 9.8 10.6 18.2h-12.1l-5.7-11.2 -4 3.9v7.3h-11V190.1z"/><path class="st0" d="M144.2 200.8h10v4.6c1-2 2-3.4 3-4.1 1-0.7 2.3-1.1 3.8-1.1 1.6 0 3.3 0.5 5.2 1.5l-3.3 7.6c-1.3-0.5-2.3-0.8-3-0.8 -1.4 0-2.5 0.6-3.3 1.7 -1.1 1.6-1.7 4.7-1.7 9.2v9.4h-10.8V200.8z"/><path class="st0" d="M168.5 190.1h10.7v7.3h-10.7V190.1zM168.5 200.8h10.7v28h-10.7V200.8z"/><path class="st1" d="M216.1 217.8l10.2 1.2c-0.6 2.1-1.5 4-2.8 5.5 -1.3 1.6-2.9 2.8-4.9 3.6 -2 0.9-4.5 1.3-7.6 1.3 -3 0-5.4-0.3-7.4-0.8 -2-0.6-3.7-1.4-5.1-2.7 -1.4-1.2-2.5-2.7-3.3-4.4 -0.8-1.7-1.2-3.9-1.2-6.6 0-2.9 0.5-5.3 1.5-7.2 0.7-1.4 1.7-2.7 3-3.8 1.2-1.1 2.5-1.9 3.9-2.5 2.1-0.9 4.8-1.3 8-1.3 4.6 0 8.1 0.8 10.5 2.5 2.4 1.6 4.1 4 5.1 7.2l-10.1 1.3c-0.3-1.2-0.9-2.1-1.7-2.7 -0.8-0.6-2-0.9-3.4-0.9 -1.8 0-3.2 0.6-4.3 1.9 -1.1 1.3-1.6 3.2-1.6 5.8 0 2.3 0.5 4 1.6 5.2 1.1 1.2 2.5 1.8 4.2 1.8 1.4 0 2.6-0.4 3.5-1.1C214.9 220.4 215.7 219.3 216.1 217.8z"/><path class="st1" d="M230 214.9c0-4.3 1.4-7.8 4.3-10.6 2.9-2.8 6.8-4.2 11.7-4.2 5.6 0 9.8 1.6 12.7 4.9 2.3 2.6 3.5 5.8 3.5 9.7 0 4.3-1.4 7.8-4.3 10.6 -2.9 2.8-6.8 4.1-11.9 4.1 -4.5 0-8.1-1.1-10.9-3.4C231.7 223.2 230 219.5 230 214.9zM240.7 214.8c0 2.5 0.5 4.3 1.5 5.5 1 1.2 2.3 1.8 3.8 1.8 1.5 0 2.8-0.6 3.8-1.8 1-1.2 1.5-3.1 1.5-5.7 0-2.4-0.5-4.2-1.5-5.4 -1-1.2-2.2-1.8-3.7-1.8 -1.6 0-2.9 0.6-3.9 1.8C241.2 210.5 240.7 212.4 240.7 214.8z"/><path class="st1" d="M267.4 200.8h10v4.1c1.4-1.7 2.9-2.9 4.4-3.6 1.5-0.7 3.2-1.1 5.3-1.1 2.2 0 4 0.4 5.3 1.2 1.3 0.8 2.4 2 3.2 3.5 1.7-1.8 3.2-3.1 4.6-3.7 1.4-0.7 3.1-1 5.1-1 3 0 5.3 0.9 7 2.7 1.7 1.8 2.5 4.6 2.5 8.4v17.6h-10.8v-16c0-1.3-0.2-2.2-0.7-2.8 -0.7-1-1.6-1.4-2.7-1.4 -1.3 0-2.3 0.5-3 1.4 -0.8 0.9-1.2 2.4-1.2 4.4v14.5h-10.8v-15.4c0-1.2-0.1-2.1-0.2-2.5 -0.2-0.7-0.6-1.3-1.2-1.7 -0.6-0.4-1.2-0.6-2-0.6 -1.2 0-2.3 0.5-3 1.4 -0.8 0.9-1.2 2.5-1.2 4.6v14.3h-10.8V200.8z"/><circle class="st2" cx="187.7" cy="224.2" r="4.6"/><path class="st3" d="M163.1 251.5v-11.3h2.3v11.3H163.1z"/><path class="st3" d="M175 251.5h-2.2v-4.2c0-0.9 0-1.5-0.1-1.7 -0.1-0.3-0.2-0.5-0.4-0.6 -0.2-0.1-0.5-0.2-0.8-0.2 -0.4 0-0.7 0.1-1 0.3 -0.3 0.2-0.5 0.5-0.6 0.8 -0.1 0.3-0.2 1-0.2 1.9v3.7h-2.2v-8.2h2v1.2c0.7-0.9 1.6-1.4 2.7-1.4 0.5 0 0.9 0.1 1.3 0.3 0.4 0.2 0.7 0.4 0.9 0.7 0.2 0.3 0.3 0.6 0.4 0.9 0.1 0.3 0.1 0.8 0.1 1.5V251.5z"/><path class="st3" d="M184.7 251.5h-2v-1.2c-0.3 0.5-0.7 0.8-1.2 1 -0.5 0.2-0.9 0.3-1.4 0.3 -0.9 0-1.7-0.4-2.4-1.1 -0.7-0.8-1-1.8-1-3.2 0-1.4 0.3-2.4 1-3.2 0.7-0.7 1.5-1.1 2.5-1.1 0.9 0 1.7 0.4 2.4 1.1v-4.1h2.2V251.5zM178.9 247.2c0 0.9 0.1 1.5 0.4 1.9 0.3 0.6 0.8 0.8 1.5 0.8 0.5 0 0.9-0.2 1.3-0.6 0.4-0.4 0.5-1.1 0.5-1.9 0-0.9-0.2-1.6-0.5-2 -0.3-0.4-0.8-0.6-1.3-0.6 -0.5 0-0.9 0.2-1.3 0.6C179.1 245.8 178.9 246.4 178.9 247.2z"/><path class="st3" d="M186.8 242.2v-2h2.2v2H186.8zM186.8 251.5v-8.2h2.2v8.2H186.8z"/><path class="st3" d="M192.8 245.8l-2-0.4c0.2-0.8 0.6-1.4 1.1-1.8 0.5-0.4 1.3-0.6 2.4-0.6 1 0 1.7 0.1 2.2 0.3 0.5 0.2 0.8 0.5 1 0.9 0.2 0.4 0.3 1 0.3 1.9l0 2.5c0 0.7 0 1.2 0.1 1.6 0.1 0.3 0.2 0.7 0.4 1.1h-2.1c-0.1-0.1-0.1-0.4-0.2-0.6 0-0.1-0.1-0.2-0.1-0.3 -0.4 0.4-0.8 0.6-1.2 0.8 -0.4 0.2-0.9 0.3-1.3 0.3 -0.8 0-1.5-0.2-2-0.7 -0.5-0.5-0.7-1-0.7-1.7 0-0.5 0.1-0.9 0.3-1.2 0.2-0.4 0.5-0.6 0.9-0.8 0.4-0.2 1-0.4 1.7-0.5 1-0.2 1.7-0.4 2.1-0.5v-0.2c0-0.4-0.1-0.7-0.3-0.9 -0.2-0.2-0.6-0.3-1.2-0.3 -0.4 0-0.7 0.1-0.9 0.2C193.1 245.1 193 245.4 192.8 245.8zM195.7 247.5c-0.3 0.1-0.7 0.2-1.3 0.3 -0.6 0.1-1 0.3-1.2 0.4 -0.3 0.2-0.4 0.5-0.4 0.8 0 0.3 0.1 0.6 0.3 0.8 0.2 0.2 0.5 0.3 0.9 0.3 0.4 0 0.8-0.1 1.1-0.4 0.3-0.2 0.4-0.4 0.5-0.7 0.1-0.2 0.1-0.5 0.1-1.1V247.5z"/><path class="st3" d="M199.9 240.2h2.2v1.5c0 0.6-0.1 1.1-0.2 1.5 -0.1 0.4-0.3 0.7-0.6 1 -0.3 0.3-0.7 0.5-1.1 0.7l-0.4-0.9c0.4-0.1 0.7-0.3 0.9-0.6 0.2-0.3 0.3-0.6 0.3-1h-1V240.2z"/><path class="st3" d="M203 249.1l2.2-0.3c0.1 0.4 0.3 0.7 0.6 1 0.3 0.2 0.7 0.3 1.2 0.3 0.6 0 1-0.1 1.3-0.3 0.2-0.1 0.3-0.3 0.3-0.6 0-0.2-0.1-0.3-0.2-0.4 -0.1-0.1-0.3-0.2-0.7-0.3 -1.7-0.4-2.8-0.7-3.3-1.1 -0.6-0.4-1-1.1-1-1.8 0-0.7 0.3-1.3 0.8-1.8 0.6-0.5 1.4-0.7 2.6-0.7 1.1 0 1.9 0.2 2.5 0.5 0.5 0.4 0.9 0.9 1.1 1.6l-2 0.4c-0.1-0.3-0.3-0.6-0.5-0.7 -0.2-0.2-0.6-0.3-1-0.3 -0.6 0-1 0.1-1.2 0.2 -0.2 0.1-0.2 0.3-0.2 0.4 0 0.2 0.1 0.3 0.2 0.4 0.2 0.1 0.9 0.3 2 0.6 1.2 0.3 2 0.6 2.4 1 0.5 0.4 0.7 0.9 0.7 1.6 0 0.8-0.3 1.4-0.9 1.9 -0.6 0.5-1.6 0.8-2.8 0.8 -1.1 0-2-0.2-2.6-0.7C203.6 250.5 203.2 249.9 203 249.1z"/><path class="st3" d="M216.9 251.5v-11.3h2.2l4.6 7.5v-7.5h2.1v11.3h-2.3l-4.5-7.4v7.4H216.9z"/><path class="st3" d="M227.8 247.3c0-0.7 0.2-1.4 0.5-2.1 0.4-0.7 0.9-1.2 1.5-1.5 0.6-0.4 1.4-0.5 2.2-0.5 1.2 0 2.2 0.4 3 1.2 0.8 0.8 1.2 1.8 1.2 3 0 1.2-0.4 2.3-1.2 3.1 -0.8 0.8-1.8 1.2-3 1.2 -0.7 0-1.5-0.2-2.1-0.5 -0.7-0.3-1.2-0.8-1.6-1.5C228 249 227.8 248.2 227.8 247.3zM230 247.4c0 0.8 0.2 1.4 0.6 1.9 0.4 0.4 0.9 0.6 1.4 0.6 0.6 0 1-0.2 1.4-0.6 0.4-0.4 0.6-1.1 0.6-1.9 0-0.8-0.2-1.4-0.6-1.8 -0.4-0.4-0.9-0.6-1.4-0.6 -0.6 0-1 0.2-1.4 0.6C230.2 245.9 230 246.6 230 247.4z"/><path class="st3" d="M237.9 251.5v-2.2h2.2v2.2H237.9z"/><path class="st3" d="M247.4 251.5h-2.2v-8.2c-0.8 0.7-1.7 1.3-2.8 1.6v-2c0.6-0.2 1.2-0.5 1.8-1.1 0.7-0.5 1.1-1.1 1.4-1.8h1.8V251.5z"/><path class="st3" d="M259.5 240.2h2.3v7.1c0 0.9-0.1 1.7-0.2 2.2 -0.2 0.7-0.6 1.2-1.2 1.6 -0.6 0.4-1.3 0.6-2.3 0.6 -1.1 0-2-0.3-2.6-0.9 -0.6-0.6-0.9-1.5-0.9-2.7l2.1-0.2c0 0.6 0.1 1.1 0.3 1.4 0.2 0.4 0.6 0.6 1.1 0.6 0.5 0 0.9-0.1 1.1-0.4 0.2-0.3 0.3-0.9 0.3-1.8V240.2z"/><path class="st3" d="M263.7 247.3c0-0.7 0.2-1.4 0.5-2.1 0.4-0.7 0.9-1.2 1.5-1.5 0.6-0.4 1.4-0.5 2.2-0.5 1.2 0 2.2 0.4 3 1.2 0.8 0.8 1.2 1.8 1.2 3 0 1.2-0.4 2.3-1.2 3.1 -0.8 0.8-1.8 1.2-3 1.2 -0.7 0-1.5-0.2-2.1-0.5 -0.7-0.3-1.2-0.8-1.6-1.5C263.9 249 263.7 248.2 263.7 247.3zM265.9 247.4c0 0.8 0.2 1.4 0.6 1.9 0.4 0.4 0.9 0.6 1.4 0.6 0.6 0 1-0.2 1.4-0.6 0.4-0.4 0.6-1.1 0.6-1.9 0-0.8-0.2-1.4-0.6-1.8 -0.4-0.4-0.9-0.6-1.4-0.6 -0.6 0-1 0.2-1.4 0.6C266.1 245.9 265.9 246.6 265.9 247.4z"/><path class="st3" d="M273.7 251.5v-11.3h2.2v4.1c0.7-0.8 1.5-1.1 2.4-1.1 1 0 1.8 0.4 2.5 1.1 0.7 0.7 1 1.8 1 3.1 0 1.4-0.3 2.5-1 3.2 -0.7 0.8-1.5 1.1-2.4 1.1 -0.5 0-0.9-0.1-1.4-0.3 -0.5-0.2-0.8-0.6-1.2-1v1.2H273.7zM275.9 247.2c0 0.8 0.1 1.5 0.4 1.9 0.4 0.6 0.9 0.9 1.5 0.9 0.5 0 0.9-0.2 1.2-0.6 0.3-0.4 0.5-1 0.5-1.9 0-0.9-0.2-1.6-0.5-2 -0.3-0.4-0.8-0.6-1.3-0.6 -0.5 0-0.9 0.2-1.3 0.6C276.1 245.8 275.9 246.4 275.9 247.2z"/><path class="st3" d="M287.3 247.8l2.2-0.2c0.1 0.7 0.4 1.3 0.8 1.6 0.4 0.4 1 0.5 1.6 0.5 0.7 0 1.3-0.2 1.7-0.5 0.4-0.3 0.6-0.7 0.6-1.1 0-0.3-0.1-0.5-0.2-0.7 -0.2-0.2-0.4-0.3-0.8-0.5 -0.3-0.1-0.9-0.3-1.8-0.5 -1.2-0.3-2.1-0.7-2.6-1.1 -0.7-0.6-1-1.4-1-2.3 0-0.6 0.2-1.1 0.5-1.6 0.3-0.5 0.8-0.9 1.4-1.1 0.6-0.3 1.4-0.4 2.2-0.4 1.4 0 2.5 0.3 3.2 0.9 0.7 0.6 1.1 1.4 1.1 2.5l-2.3 0.1c-0.1-0.6-0.3-1-0.6-1.3 -0.3-0.3-0.8-0.4-1.4-0.4 -0.7 0-1.2 0.1-1.6 0.4 -0.2 0.2-0.4 0.4-0.4 0.7 0 0.3 0.1 0.5 0.3 0.7 0.3 0.2 1 0.5 2.1 0.8 1.1 0.3 1.9 0.5 2.5 0.8 0.5 0.3 0.9 0.7 1.2 1.1 0.3 0.5 0.5 1.1 0.5 1.8 0 0.6-0.2 1.3-0.5 1.8 -0.4 0.6-0.9 1-1.5 1.3 -0.7 0.3-1.5 0.4-2.5 0.4 -1.4 0-2.5-0.3-3.3-1C287.9 250 287.4 249.1 287.3 247.8z"/><path class="st3" d="M298.4 242.2v-2h2.2v2H298.4zM298.4 251.5v-8.2h2.2v8.2H298.4z"/><path class="st3" d="M306.5 243.3v1.7H305v3.3c0 0.7 0 1.1 0 1.2 0 0.1 0.1 0.2 0.2 0.3 0.1 0.1 0.2 0.1 0.4 0.1 0.2 0 0.5-0.1 0.9-0.2l0.2 1.7c-0.5 0.2-1.1 0.3-1.7 0.3 -0.4 0-0.7-0.1-1.1-0.2 -0.3-0.1-0.5-0.3-0.7-0.5 -0.1-0.2-0.2-0.5-0.3-0.8 0-0.3-0.1-0.8-0.1-1.5V245h-1v-1.7h1v-1.6l2.2-1.3v2.9H306.5z"/><path class="st3" d="M312.7 248.9l2.2 0.4c-0.3 0.8-0.7 1.4-1.3 1.8 -0.6 0.4-1.3 0.6-2.2 0.6 -1.4 0-2.5-0.5-3.2-1.4 -0.5-0.7-0.8-1.7-0.8-2.8 0-1.4 0.4-2.4 1.1-3.2 0.7-0.8 1.6-1.2 2.7-1.2 1.2 0 2.2 0.4 2.9 1.2 0.7 0.8 1 2 1 3.7h-5.4c0 0.6 0.2 1.1 0.5 1.5 0.3 0.4 0.7 0.5 1.2 0.5 0.3 0 0.6-0.1 0.9-0.3C312.4 249.6 312.6 249.3 312.7 248.9zM312.8 246.7c0-0.6-0.2-1.1-0.5-1.4 -0.3-0.3-0.7-0.5-1.1-0.5 -0.5 0-0.9 0.2-1.2 0.5 -0.3 0.3-0.5 0.8-0.5 1.4H312.8z"/><path class="st4" d="M129.9 64c-0.5 0.7-1 1.4-1.5 2.2 1.5 0 2.3-0.8 3.6-1 0.7 1.2-1.4 1.4-1.4 2.7 1.4 0.1 2.9-1.6 3.6-0.5 0.3 1-1.8 1.6-2.2 2.7 0.4 0.2 2.5-0.1 3.6 0 2.1 6.7-3.5 11.9-8.9 12.3 -8.5 0.7-15.6-8-9.9-15.2C119.2 64.2 124.5 62.2 129.9 64z"/><path class="st5" d="M200.2 165.1c-0.3 0.8-2.1 0.2-3.1 0 -7-1.5-15.1-3.9-22-6 -15.9-5-30.8-11.1-42.5-21.3 -6.2-5.4-12.5-13.3-11.6-24.7 0.2-2.6 1.2-4.7 1.7-7 0.4-2 0.3-3.7 0.7-5.3 2.6-10.2 10.4-18.1 18.4-23.9 9.1-6.7 20.5-13 35.1-12.6 -3.5 2.3-7.6 4-10.9 6.5 4.4-0.9 10-2.2 15-1 -12.5 6.7-25.2 13.2-32.9 25.6 -2.4 3.8-5 9.8-4.4 15 0.3 2.8 2.2 6 3.9 8.7 10.8 17.9 29.8 28.3 49.6 37 -8.7-1.3-17.5-4.6-25.9-7 -0.2 0-0.2-0.2-0.5-0.2 7.5 5.5 16.3 10.7 25.6 14.5C197.6 163.9 199.3 163.9 200.2 165.1zM163 72.7c-1.3 0.4-2.6 1.9-3.9 2.9 -7.4 5.9-15.7 14.4-16.4 25.9 -0.1 1.4-0.3 2.9 0.5 4.3 1.5-9.9 7.4-16 13.3-21.5 6-5.6 13.6-9.8 21-14C172.2 70.2 167.1 71.4 163 72.7zM133 136.8c14.9 13.1 38.8 20.7 59.2 26.1 0.4 0.1 0.6-0.3 0-0.2 -6.8-3.3-13.8-7.1-19.8-11.1 -2.1-1.4-4-3.3-6-4.3 -1.1-0.6-2.7-0.7-3.9-1.2 -3.6-1.5-6.9-3.2-10.4-4.8 -13.6-6.6-26.1-14.7-29.7-31.4C120.1 122.5 126.3 130.9 133 136.8z"/></svg></div> </div> <div id="circleG"> <div id="circleG_1" class="circleG"></div> <div id="circleG_2" class="circleG"></div> <div id="circleG_3" class="circleG"></div> <div id="circleG_4" class="circleG"></div> <div id="circleG_5" class="circleG"></div> </div> </div> </div> <link rel="stylesheet" type="text/css" href="//static.naukri.com/s/7/109/c/main.7b9f096a.min.css" media="all"/>  <script> (function() { var queuedSuperProps = []; var queuedEvents = []; window.ub = { track: function(eventName, eventProps) { queuedEvents.push([eventName, eventProps]) }, register: function(properties) { queuedSuperProps.push(properties); } };\n            var script = document.createElement("script"); script.async = true; script.src = "//static.naukimg.com/s/0/1/j/ub_v1.7.min.js";script.onload = function() { ub.init({\n                    beaconUrl : "https://logs.naukri.com/uba", bulkBeaconUrl : "https://logs.naukri.com/collectorapi/v1/uba/bulk", queuedEvents:queuedEvents, queuedSuperProps:queuedSuperProps,  tenantId:\'1\' , autoTrack:false, blackList: \n                []\n            }); };document.head.appendChild(script);}()); ub.register({ appId:109, pageName: "jobsearch",  tenantId:\'1\' , }); </script>   <script>\n    //hack of IE and safari bug : Super expression must either be null or a function, not undefined\n    if (typeof HTMLElement !== \'function\') {\n        var _HTMLElement = function() {};\n        _HTMLElement.prototype = HTMLElement.prototype;\n        HTMLElement = _HTMLElement;\n    }\n    </script> <script src="//static.naukri.com/s/7/109/j/vendors~main.3327969a.min.js" type="text/javascript" defer></script> <script src="//static.naukri.com/s/7/109/j/main.dd29822b.min.js" type="text/javascript" defer></script> <script type="text/javascript" src="//static.naukri.com/s/0/0/j/nLoggerJB_v3.0.min.js"></script> <script type="text/javascript">\n   window.nLogger && nLogger.init({ "tag": "revamped_srp", "nLogger": { "beaconUrl": "https:\\/\\/lg.naukri.com\\/uba", "eventName": "newMonkError", "deviceType": "SERVER" }, "boomerang": { "logBW": false, "beaconUrl": "https:\\/\\/lg.naukri.com\\/uba", "imageURL": "\\/\\/static.naukri.com\\/s\\/0\\/0\\/i\\/", "eventName": "newMonkPerformance", "deviceType": "SERVER" }, "tenantId": 1, "appId": 109, "userIP": "2045974146" });\n </script> <script type="text/javascript">\n   (function(w, d, s, l, i) {\n     w[l] = w[l] || [];\n     w[l].push({\n         \'gtm.start\': new Date().getTime(),\n         event: \'gtm.js\'\n     });\n     var f = d.getElementsByTagName(s)[0],\n         j = d.createElement(s),\n         dl = l != \'dataLayer\' ? \'&l=\' + l : \'\';\n     j.defer = \'defer\';\n     j.src =\n         \'https://www.googletagmanager.com/gtm.js?id=\' + i + dl;\n     f.parentNode.insertBefore(j, f);\n   })(window, document, \'script\', \'dataLayer\', \'GTM-NX744H\');\n </script> <script defer src=\'https://www.googletagservices.com/tag/js/gpt.js\'></script> <script>\n          var googletag = googletag || {};\n          googletag.cmd = googletag.cmd || [];  \n    </script> <script type="text/javascript"  src="/PEb7gwcAyCOl/Y91gPd/AsnTXJ/3Vc9Nmkkir7J/ND1AAQ/dWxbaHAr/XEQ"></script></body> </html>'

In [224]:
driver = webdriver.Chrome("chromedriver.exe")
url="https://www.naukri.com/"
driver.get(url)

In [225]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Analyst")
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys("Bangalore/Bengaluru")

search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [258]:
#extract the job title

titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags
job_titles= []
for i in titles_tags:
    job_titles.append(i.text)
job_titles

['Senior Data Analyst - Data Lineage',
 'Data Analyst - Informatica MDM',
 'Data analysts',
 'Excel VBA Jobs Bangalore | VBA data analyst Jobs',
 'Data Analyst (2positions)//immediate Joiners//bangalore',
 'Business/Data Analyst - SSE/LA',
 'Business Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst - Category Demand Management (Revenue & Growth)',
 'data analyst',
 'RC HIA - Data Analyst - A2',
 'Data Analyst (Contractual)',
 'Procurement Data Analyst',
 'Data Analyst',
 'Hiring Consultant Data Analyst Contractual',
 'Data Analyst/ Data Consultant (Various Levels – Senior/ Mid/ Junior)',
 'Data Scientist / Data Analyst -Business Analyst',
 'Senior Data Analyst',
 'Sr Data Analyst 1']

In [259]:
#extract the companies names

companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags
companies_names= []
for i in companies_tags:
    companies_names.append(i.text)
companies_names

['Opex Global Services',
 'Shell India Markets Private Limited',
 'IBM India Pvt. Limited',
 'Mind Circus Innovation',
 'Tech Mahindra Ltd.',
 'CGI Information Systems and Management Consultants',
 'dotSolved India Pvt., Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Disha Consultants',
 'Pricewaterhouse Coopers Private Limited',
 'Flipkart Internet Private Limited',
 'Schneider Electric',
 'IBM India Pvt. Limited',
 'Flipkart Internet Private Limited',
 'DVSUM INDIA PRIVATE LIMITED',
 'Inflexion Analytix Private Limited',
 'Cimpress India Private Limited',
 'IHS Markit']

In [260]:
#extract the experience list

experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_tags
experience_list= []
for i in experience_tags:
    experience_list.append(i.text)
experience_list

['5-10 Yrs',
 '6-9 Yrs',
 '3-5 Yrs',
 '0-1 Yrs',
 '4-8 Yrs',
 '2-5 Yrs',
 '9-13 Yrs',
 '3-5 Yrs',
 '3-8 Yrs',
 '1-4 Yrs',
 '2-4 Yrs',
 '4-6 Yrs',
 '1-4 Yrs',
 '1-3 Yrs',
 '5-10 Yrs',
 '2-6 Yrs',
 '5-10 Yrs',
 '0-3 Yrs',
 '3-8 Yrs',
 '3-6 Yrs']

In [261]:
#extract the locations names

locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
locations_tags
locations_names= []
for i in locations_tags:
    locations_names.append(i.text)
locations_names

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mysore/Mysuru, Coimbatore, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Chennai, Jaipur, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Bellandur)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [358]:
#making dataframe

jobs=pd.DataFrame({})
jobs['title']=job_titles[:10]
jobs['company']=companies_names[:10]
jobs['experience_required']=experience_list[:10]
jobs['location']=locations_names[:10]
jobs

,title,company,experience_required,location
0,Data analytics / Data scientist intern (work f...,TalkValley LLC,0-5 Yrs,"Kolkata, Bangalore/Bengaluru, Delhi / NCR"
1,Data Scientist,Fractal Analytics,3-7 Yrs,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru"
2,Chaayos is Looking For Data Scientist,Chaayos (Sunshine Teahouse Pvt. Ltd.),0-5 Yrs,New Delhi
3,Junior Data Scientist,R Systems International Ltd.,3-5 Yrs,Noida(Sector-59 Noida)
4,We are hiring- Data Scientist +Python- Noida,RANDSTAD INDIA PVT LTD,4-7 Yrs,"Noida, Gurgaon/Gurugram, Delhi / NCR"
5,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
6,Data Scientist,Milliman India Pvt Ltd,2-5 Yrs,"Gurgaon/Gurugram, Delhi / NCR"
7,Data Scientist,NEC CORPORATION INDIA PRIVATE LIMITED,3-8 Yrs,Noida
8,"Data Analyst/Scientist Big Data, Statistical T...",The Search House (A Div of JSD Search House Pv...,2-7 Yrs,Gurgaon/Gurugram
9,Business Analyst- Data Scientist,Wipro,2-5 Yrs,"Noida, Gurgaon/Gurugram"

# Question 2 Data Scientist first 10 jobs data.

In [8]:
url="https://www.naukri.com/data-scientist-machine-learning-jobs-in-bangalore-bengaluru?k=data%20scientist%2C%20machine%20learning&l=bangalore%2Fbengaluru&ctcFilter=3to6&cityTypeGid=97"
page = requests.get(url)
page.text

'<!DOCTYPE html> <html lang="en"> <head> <meta http-equiv="X-UA-Compatible" content="IE=Edge" /> <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" /> <link rel="dns-prefetch preconnect" href="//static.naukri.com"> <link rel="dns-prefetch preconnect" href="//img.naukri.com"> <link rel="dns-prefetch preconnect" href="//logs.naukri.com"> <link rel="dns-prefetch preconnect" href="//lg.naukri.com"> <link rel="dns-prefetch" href="https://www.googletagmanager.com" /> <base href="//www.naukri.com" /> <link rel="manifest" href="./manifest.json"> <link rel="preload" as="style" href="//static.naukri.com/s/7/109/c/main.7b9f096a.min.css"/> <link rel="preload" as="script" href="//static.naukri.com/s/7/109/j/main.dd29822b.min.js"> <script>\n        window.ipAddress = "www.naukri.com";\n        window.DEBUG = true;\n        window.appId = 135;\n                    var isCrawler = false;\n                            var ucBrowser = false;\n            </script>   <style type="text/css"> .splScrn{ height: 100%; } body{margin:0} .nkIcon { width: 9rem; margin: auto; position: relative; padding-top: 95px; } #circleG { width: 9rem; margin: auto } .circleG { background-color: #2DABE2; float: left; height: 14px; margin: 5px; width: 14px; animation-name: bounce_circleG; -o-animation-name: bounce_circleG; -ms-animation-name: bounce_circleG; -webkit-animation-name: bounce_circleG; -moz-animation-name: bounce_circleG; animation-duration: 1.8s; -o-animation-duration: 1.8s; -ms-animation-duration: 1.8s; -webkit-animation-duration: 1.8s; -moz-animation-duration: 1.8s; animation-iteration-count: infinite; -o-animation-iteration-count: infinite; -ms-animation-iteration-count: infinite; -webkit-animation-iteration-count: infinite; -moz-animation-iteration-count: infinite; animation-direction: normal; -o-animation-direction: normal; -ms-animation-direction: normal; -webkit-animation-direction: normal; -moz-animation-direction: normal; border-radius: 50%; -o-border-radius: 50%; -ms-border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50% } #root, body, html { height: 100% } #circleG_1 { animation-delay: .45s; -o-animation-delay: .45s; -ms-animation-delay: .45s; -webkit-animation-delay: .45s; -moz-animation-delay: .45s } #circleG_2 { animation-delay: .65s; -o-animation-delay: .65s; -ms-animation-delay: .65s; -webkit-animation-delay: .65s; -moz-animation-delay: .65s } #circleG_3 { animation-delay: .85s; -o-animation-delay: .85s; -ms-animation-delay: .85s; -webkit-animation-delay: .85s; -moz-animation-delay: .85s } #circleG_4 { animation-delay: 1.05s; -o-animation-delay: 1.05s; -ms-animation-delay: 1.05s; -webkit-animation-delay: 1.05s; -moz-animation-delay: 1.05s } #circleG_5 { animation-delay: 1.25s; -o-animation-delay: 1.25s; -ms-animation-delay: 1.25s; -webkit-animation-delay: 1.25s; -moz-animation-delay: 1.25s } @keyframes bounce_circleG { 50% { width: 10px; height: 10px; margin: 7px; background-color: rgba(12, 109, 182, 0) } } </style> </head> <body>  <noscript> <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NX744H"height="0" width="0" style="display:none;visibility:hidden"></iframe> </noscript>  <div id="root"> <div class="splScrn"> <div class="row top"> <div class="nkIcon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 315 315"><style type="text/css"> .st0{fill:#2DABE2;} .st1{fill:#0C6DB6;} .st2{fill:#EC2227;} .st3{fill:#444444;} .st4{fill-rule:evenodd;clip-rule:evenodd;fill:#EC2227;} .st5{fill-rule:evenodd;clip-rule:evenodd;fill:#0C6DB6;} </style><path class="st0" d="M0 200.8h10v4.6c1.5-1.9 3-3.2 4.5-4 1.5-0.8 3.4-1.2 5.6-1.2 3 0 5.3 0.9 7 2.7 1.7 1.8 2.5 4.5 2.5 8.2v17.8H18.8v-15.4c0-1.8-0.3-3-1-3.7 -0.7-0.7-1.6-1.1-2.7-1.1 -1.3 0-2.4 0.5-3.2 1.5 -0.8 1-1.2 2.8-1.2 5.3v13.4H0V200.8z"/><path class="st0" d="M45.8 209.9l-10.3-1.1c0.4-1.8 0.9-3.2 1.7-4.2 0.7-1 1.8-1.9 3.2-2.7 1-0.5 2.3-1 4.1-1.3 1.7-0.3 3.6-0.4 5.6-0.4 3.2 0 5.8 0.2 7.8 0.5 2 0.4 3.6 1.1 4.9 2.3 0.9 0.8 1.6 1.9 2.2 3.4 0.5 1.5 0.8 2.8 0.8 4.2v12.4c0 1.3 0.1 2.4 0.3 3.1 0.2 0.7 0.5 1.7 1.1 2.9H56.9c-0.4-0.7-0.7-1.3-0.8-1.6 -0.1-0.4-0.2-1-0.4-1.8 -1.4 1.4-2.8 2.3-4.2 2.9 -1.9 0.8-4.1 1.2-6.6 1.2 -3.3 0-5.9-0.8-7.6-2.3 -1.7-1.5-2.6-3.5-2.6-5.7 0-2.1 0.6-3.9 1.9-5.2 1.2-1.4 3.6-2.4 6.9-3.1 4-0.8 6.6-1.4 7.8-1.7 1.2-0.3 2.5-0.8 3.8-1.3 0-1.3-0.3-2.2-0.8-2.8 -0.5-0.5-1.5-0.8-2.9-0.8 -1.8 0-3.1 0.3-4 0.8C46.8 207.8 46.2 208.6 45.8 209.9zM55.1 215.5c-1.5 0.5-3 1-4.6 1.4 -2.2 0.6-3.6 1.2-4.1 1.7 -0.6 0.6-0.9 1.2-0.9 2 0 0.8 0.3 1.5 0.9 2.1 0.6 0.5 1.5 0.8 2.6 0.8 1.2 0 2.3-0.3 3.3-0.9 1-0.6 1.8-1.3 2.2-2.1 0.4-0.8 0.6-1.9 0.6-3.3V215.5z"/><path class="st0" d="M101.6 228.8h-10v-4.5c-1.5 1.9-3 3.2-4.5 4 -1.5 0.8-3.4 1.2-5.6 1.2 -3 0-5.3-0.9-6.9-2.7 -1.7-1.8-2.5-4.5-2.5-8.2v-17.8h10.8v15.4c0 1.8 0.3 3 1 3.7 0.7 0.7 1.6 1.1 2.7 1.1 1.3 0 2.3-0.5 3.2-1.5 0.8-1 1.2-2.8 1.2-5.3v-13.5h10.7V228.8z"/><path class="st0" d="M108.1 190.1h11v20l8-9.3h13.2l-10 9.8 10.6 18.2h-12.1l-5.7-11.2 -4 3.9v7.3h-11V190.1z"/><path class="st0" d="M144.2 200.8h10v4.6c1-2 2-3.4 3-4.1 1-0.7 2.3-1.1 3.8-1.1 1.6 0 3.3 0.5 5.2 1.5l-3.3 7.6c-1.3-0.5-2.3-0.8-3-0.8 -1.4 0-2.5 0.6-3.3 1.7 -1.1 1.6-1.7 4.7-1.7 9.2v9.4h-10.8V200.8z"/><path class="st0" d="M168.5 190.1h10.7v7.3h-10.7V190.1zM168.5 200.8h10.7v28h-10.7V200.8z"/><path class="st1" d="M216.1 217.8l10.2 1.2c-0.6 2.1-1.5 4-2.8 5.5 -1.3 1.6-2.9 2.8-4.9 3.6 -2 0.9-4.5 1.3-7.6 1.3 -3 0-5.4-0.3-7.4-0.8 -2-0.6-3.7-1.4-5.1-2.7 -1.4-1.2-2.5-2.7-3.3-4.4 -0.8-1.7-1.2-3.9-1.2-6.6 0-2.9 0.5-5.3 1.5-7.2 0.7-1.4 1.7-2.7 3-3.8 1.2-1.1 2.5-1.9 3.9-2.5 2.1-0.9 4.8-1.3 8-1.3 4.6 0 8.1 0.8 10.5 2.5 2.4 1.6 4.1 4 5.1 7.2l-10.1 1.3c-0.3-1.2-0.9-2.1-1.7-2.7 -0.8-0.6-2-0.9-3.4-0.9 -1.8 0-3.2 0.6-4.3 1.9 -1.1 1.3-1.6 3.2-1.6 5.8 0 2.3 0.5 4 1.6 5.2 1.1 1.2 2.5 1.8 4.2 1.8 1.4 0 2.6-0.4 3.5-1.1C214.9 220.4 215.7 219.3 216.1 217.8z"/><path class="st1" d="M230 214.9c0-4.3 1.4-7.8 4.3-10.6 2.9-2.8 6.8-4.2 11.7-4.2 5.6 0 9.8 1.6 12.7 4.9 2.3 2.6 3.5 5.8 3.5 9.7 0 4.3-1.4 7.8-4.3 10.6 -2.9 2.8-6.8 4.1-11.9 4.1 -4.5 0-8.1-1.1-10.9-3.4C231.7 223.2 230 219.5 230 214.9zM240.7 214.8c0 2.5 0.5 4.3 1.5 5.5 1 1.2 2.3 1.8 3.8 1.8 1.5 0 2.8-0.6 3.8-1.8 1-1.2 1.5-3.1 1.5-5.7 0-2.4-0.5-4.2-1.5-5.4 -1-1.2-2.2-1.8-3.7-1.8 -1.6 0-2.9 0.6-3.9 1.8C241.2 210.5 240.7 212.4 240.7 214.8z"/><path class="st1" d="M267.4 200.8h10v4.1c1.4-1.7 2.9-2.9 4.4-3.6 1.5-0.7 3.2-1.1 5.3-1.1 2.2 0 4 0.4 5.3 1.2 1.3 0.8 2.4 2 3.2 3.5 1.7-1.8 3.2-3.1 4.6-3.7 1.4-0.7 3.1-1 5.1-1 3 0 5.3 0.9 7 2.7 1.7 1.8 2.5 4.6 2.5 8.4v17.6h-10.8v-16c0-1.3-0.2-2.2-0.7-2.8 -0.7-1-1.6-1.4-2.7-1.4 -1.3 0-2.3 0.5-3 1.4 -0.8 0.9-1.2 2.4-1.2 4.4v14.5h-10.8v-15.4c0-1.2-0.1-2.1-0.2-2.5 -0.2-0.7-0.6-1.3-1.2-1.7 -0.6-0.4-1.2-0.6-2-0.6 -1.2 0-2.3 0.5-3 1.4 -0.8 0.9-1.2 2.5-1.2 4.6v14.3h-10.8V200.8z"/><circle class="st2" cx="187.7" cy="224.2" r="4.6"/><path class="st3" d="M163.1 251.5v-11.3h2.3v11.3H163.1z"/><path class="st3" d="M175 251.5h-2.2v-4.2c0-0.9 0-1.5-0.1-1.7 -0.1-0.3-0.2-0.5-0.4-0.6 -0.2-0.1-0.5-0.2-0.8-0.2 -0.4 0-0.7 0.1-1 0.3 -0.3 0.2-0.5 0.5-0.6 0.8 -0.1 0.3-0.2 1-0.2 1.9v3.7h-2.2v-8.2h2v1.2c0.7-0.9 1.6-1.4 2.7-1.4 0.5 0 0.9 0.1 1.3 0.3 0.4 0.2 0.7 0.4 0.9 0.7 0.2 0.3 0.3 0.6 0.4 0.9 0.1 0.3 0.1 0.8 0.1 1.5V251.5z"/><path class="st3" d="M184.7 251.5h-2v-1.2c-0.3 0.5-0.7 0.8-1.2 1 -0.5 0.2-0.9 0.3-1.4 0.3 -0.9 0-1.7-0.4-2.4-1.1 -0.7-0.8-1-1.8-1-3.2 0-1.4 0.3-2.4 1-3.2 0.7-0.7 1.5-1.1 2.5-1.1 0.9 0 1.7 0.4 2.4 1.1v-4.1h2.2V251.5zM178.9 247.2c0 0.9 0.1 1.5 0.4 1.9 0.3 0.6 0.8 0.8 1.5 0.8 0.5 0 0.9-0.2 1.3-0.6 0.4-0.4 0.5-1.1 0.5-1.9 0-0.9-0.2-1.6-0.5-2 -0.3-0.4-0.8-0.6-1.3-0.6 -0.5 0-0.9 0.2-1.3 0.6C179.1 245.8 178.9 246.4 178.9 247.2z"/><path class="st3" d="M186.8 242.2v-2h2.2v2H186.8zM186.8 251.5v-8.2h2.2v8.2H186.8z"/><path class="st3" d="M192.8 245.8l-2-0.4c0.2-0.8 0.6-1.4 1.1-1.8 0.5-0.4 1.3-0.6 2.4-0.6 1 0 1.7 0.1 2.2 0.3 0.5 0.2 0.8 0.5 1 0.9 0.2 0.4 0.3 1 0.3 1.9l0 2.5c0 0.7 0 1.2 0.1 1.6 0.1 0.3 0.2 0.7 0.4 1.1h-2.1c-0.1-0.1-0.1-0.4-0.2-0.6 0-0.1-0.1-0.2-0.1-0.3 -0.4 0.4-0.8 0.6-1.2 0.8 -0.4 0.2-0.9 0.3-1.3 0.3 -0.8 0-1.5-0.2-2-0.7 -0.5-0.5-0.7-1-0.7-1.7 0-0.5 0.1-0.9 0.3-1.2 0.2-0.4 0.5-0.6 0.9-0.8 0.4-0.2 1-0.4 1.7-0.5 1-0.2 1.7-0.4 2.1-0.5v-0.2c0-0.4-0.1-0.7-0.3-0.9 -0.2-0.2-0.6-0.3-1.2-0.3 -0.4 0-0.7 0.1-0.9 0.2C193.1 245.1 193 245.4 192.8 245.8zM195.7 247.5c-0.3 0.1-0.7 0.2-1.3 0.3 -0.6 0.1-1 0.3-1.2 0.4 -0.3 0.2-0.4 0.5-0.4 0.8 0 0.3 0.1 0.6 0.3 0.8 0.2 0.2 0.5 0.3 0.9 0.3 0.4 0 0.8-0.1 1.1-0.4 0.3-0.2 0.4-0.4 0.5-0.7 0.1-0.2 0.1-0.5 0.1-1.1V247.5z"/><path class="st3" d="M199.9 240.2h2.2v1.5c0 0.6-0.1 1.1-0.2 1.5 -0.1 0.4-0.3 0.7-0.6 1 -0.3 0.3-0.7 0.5-1.1 0.7l-0.4-0.9c0.4-0.1 0.7-0.3 0.9-0.6 0.2-0.3 0.3-0.6 0.3-1h-1V240.2z"/><path class="st3" d="M203 249.1l2.2-0.3c0.1 0.4 0.3 0.7 0.6 1 0.3 0.2 0.7 0.3 1.2 0.3 0.6 0 1-0.1 1.3-0.3 0.2-0.1 0.3-0.3 0.3-0.6 0-0.2-0.1-0.3-0.2-0.4 -0.1-0.1-0.3-0.2-0.7-0.3 -1.7-0.4-2.8-0.7-3.3-1.1 -0.6-0.4-1-1.1-1-1.8 0-0.7 0.3-1.3 0.8-1.8 0.6-0.5 1.4-0.7 2.6-0.7 1.1 0 1.9 0.2 2.5 0.5 0.5 0.4 0.9 0.9 1.1 1.6l-2 0.4c-0.1-0.3-0.3-0.6-0.5-0.7 -0.2-0.2-0.6-0.3-1-0.3 -0.6 0-1 0.1-1.2 0.2 -0.2 0.1-0.2 0.3-0.2 0.4 0 0.2 0.1 0.3 0.2 0.4 0.2 0.1 0.9 0.3 2 0.6 1.2 0.3 2 0.6 2.4 1 0.5 0.4 0.7 0.9 0.7 1.6 0 0.8-0.3 1.4-0.9 1.9 -0.6 0.5-1.6 0.8-2.8 0.8 -1.1 0-2-0.2-2.6-0.7C203.6 250.5 203.2 249.9 203 249.1z"/><path class="st3" d="M216.9 251.5v-11.3h2.2l4.6 7.5v-7.5h2.1v11.3h-2.3l-4.5-7.4v7.4H216.9z"/><path class="st3" d="M227.8 247.3c0-0.7 0.2-1.4 0.5-2.1 0.4-0.7 0.9-1.2 1.5-1.5 0.6-0.4 1.4-0.5 2.2-0.5 1.2 0 2.2 0.4 3 1.2 0.8 0.8 1.2 1.8 1.2 3 0 1.2-0.4 2.3-1.2 3.1 -0.8 0.8-1.8 1.2-3 1.2 -0.7 0-1.5-0.2-2.1-0.5 -0.7-0.3-1.2-0.8-1.6-1.5C228 249 227.8 248.2 227.8 247.3zM230 247.4c0 0.8 0.2 1.4 0.6 1.9 0.4 0.4 0.9 0.6 1.4 0.6 0.6 0 1-0.2 1.4-0.6 0.4-0.4 0.6-1.1 0.6-1.9 0-0.8-0.2-1.4-0.6-1.8 -0.4-0.4-0.9-0.6-1.4-0.6 -0.6 0-1 0.2-1.4 0.6C230.2 245.9 230 246.6 230 247.4z"/><path class="st3" d="M237.9 251.5v-2.2h2.2v2.2H237.9z"/><path class="st3" d="M247.4 251.5h-2.2v-8.2c-0.8 0.7-1.7 1.3-2.8 1.6v-2c0.6-0.2 1.2-0.5 1.8-1.1 0.7-0.5 1.1-1.1 1.4-1.8h1.8V251.5z"/><path class="st3" d="M259.5 240.2h2.3v7.1c0 0.9-0.1 1.7-0.2 2.2 -0.2 0.7-0.6 1.2-1.2 1.6 -0.6 0.4-1.3 0.6-2.3 0.6 -1.1 0-2-0.3-2.6-0.9 -0.6-0.6-0.9-1.5-0.9-2.7l2.1-0.2c0 0.6 0.1 1.1 0.3 1.4 0.2 0.4 0.6 0.6 1.1 0.6 0.5 0 0.9-0.1 1.1-0.4 0.2-0.3 0.3-0.9 0.3-1.8V240.2z"/><path class="st3" d="M263.7 247.3c0-0.7 0.2-1.4 0.5-2.1 0.4-0.7 0.9-1.2 1.5-1.5 0.6-0.4 1.4-0.5 2.2-0.5 1.2 0 2.2 0.4 3 1.2 0.8 0.8 1.2 1.8 1.2 3 0 1.2-0.4 2.3-1.2 3.1 -0.8 0.8-1.8 1.2-3 1.2 -0.7 0-1.5-0.2-2.1-0.5 -0.7-0.3-1.2-0.8-1.6-1.5C263.9 249 263.7 248.2 263.7 247.3zM265.9 247.4c0 0.8 0.2 1.4 0.6 1.9 0.4 0.4 0.9 0.6 1.4 0.6 0.6 0 1-0.2 1.4-0.6 0.4-0.4 0.6-1.1 0.6-1.9 0-0.8-0.2-1.4-0.6-1.8 -0.4-0.4-0.9-0.6-1.4-0.6 -0.6 0-1 0.2-1.4 0.6C266.1 245.9 265.9 246.6 265.9 247.4z"/><path class="st3" d="M273.7 251.5v-11.3h2.2v4.1c0.7-0.8 1.5-1.1 2.4-1.1 1 0 1.8 0.4 2.5 1.1 0.7 0.7 1 1.8 1 3.1 0 1.4-0.3 2.5-1 3.2 -0.7 0.8-1.5 1.1-2.4 1.1 -0.5 0-0.9-0.1-1.4-0.3 -0.5-0.2-0.8-0.6-1.2-1v1.2H273.7zM275.9 247.2c0 0.8 0.1 1.5 0.4 1.9 0.4 0.6 0.9 0.9 1.5 0.9 0.5 0 0.9-0.2 1.2-0.6 0.3-0.4 0.5-1 0.5-1.9 0-0.9-0.2-1.6-0.5-2 -0.3-0.4-0.8-0.6-1.3-0.6 -0.5 0-0.9 0.2-1.3 0.6C276.1 245.8 275.9 246.4 275.9 247.2z"/><path class="st3" d="M287.3 247.8l2.2-0.2c0.1 0.7 0.4 1.3 0.8 1.6 0.4 0.4 1 0.5 1.6 0.5 0.7 0 1.3-0.2 1.7-0.5 0.4-0.3 0.6-0.7 0.6-1.1 0-0.3-0.1-0.5-0.2-0.7 -0.2-0.2-0.4-0.3-0.8-0.5 -0.3-0.1-0.9-0.3-1.8-0.5 -1.2-0.3-2.1-0.7-2.6-1.1 -0.7-0.6-1-1.4-1-2.3 0-0.6 0.2-1.1 0.5-1.6 0.3-0.5 0.8-0.9 1.4-1.1 0.6-0.3 1.4-0.4 2.2-0.4 1.4 0 2.5 0.3 3.2 0.9 0.7 0.6 1.1 1.4 1.1 2.5l-2.3 0.1c-0.1-0.6-0.3-1-0.6-1.3 -0.3-0.3-0.8-0.4-1.4-0.4 -0.7 0-1.2 0.1-1.6 0.4 -0.2 0.2-0.4 0.4-0.4 0.7 0 0.3 0.1 0.5 0.3 0.7 0.3 0.2 1 0.5 2.1 0.8 1.1 0.3 1.9 0.5 2.5 0.8 0.5 0.3 0.9 0.7 1.2 1.1 0.3 0.5 0.5 1.1 0.5 1.8 0 0.6-0.2 1.3-0.5 1.8 -0.4 0.6-0.9 1-1.5 1.3 -0.7 0.3-1.5 0.4-2.5 0.4 -1.4 0-2.5-0.3-3.3-1C287.9 250 287.4 249.1 287.3 247.8z"/><path class="st3" d="M298.4 242.2v-2h2.2v2H298.4zM298.4 251.5v-8.2h2.2v8.2H298.4z"/><path class="st3" d="M306.5 243.3v1.7H305v3.3c0 0.7 0 1.1 0 1.2 0 0.1 0.1 0.2 0.2 0.3 0.1 0.1 0.2 0.1 0.4 0.1 0.2 0 0.5-0.1 0.9-0.2l0.2 1.7c-0.5 0.2-1.1 0.3-1.7 0.3 -0.4 0-0.7-0.1-1.1-0.2 -0.3-0.1-0.5-0.3-0.7-0.5 -0.1-0.2-0.2-0.5-0.3-0.8 0-0.3-0.1-0.8-0.1-1.5V245h-1v-1.7h1v-1.6l2.2-1.3v2.9H306.5z"/><path class="st3" d="M312.7 248.9l2.2 0.4c-0.3 0.8-0.7 1.4-1.3 1.8 -0.6 0.4-1.3 0.6-2.2 0.6 -1.4 0-2.5-0.5-3.2-1.4 -0.5-0.7-0.8-1.7-0.8-2.8 0-1.4 0.4-2.4 1.1-3.2 0.7-0.8 1.6-1.2 2.7-1.2 1.2 0 2.2 0.4 2.9 1.2 0.7 0.8 1 2 1 3.7h-5.4c0 0.6 0.2 1.1 0.5 1.5 0.3 0.4 0.7 0.5 1.2 0.5 0.3 0 0.6-0.1 0.9-0.3C312.4 249.6 312.6 249.3 312.7 248.9zM312.8 246.7c0-0.6-0.2-1.1-0.5-1.4 -0.3-0.3-0.7-0.5-1.1-0.5 -0.5 0-0.9 0.2-1.2 0.5 -0.3 0.3-0.5 0.8-0.5 1.4H312.8z"/><path class="st4" d="M129.9 64c-0.5 0.7-1 1.4-1.5 2.2 1.5 0 2.3-0.8 3.6-1 0.7 1.2-1.4 1.4-1.4 2.7 1.4 0.1 2.9-1.6 3.6-0.5 0.3 1-1.8 1.6-2.2 2.7 0.4 0.2 2.5-0.1 3.6 0 2.1 6.7-3.5 11.9-8.9 12.3 -8.5 0.7-15.6-8-9.9-15.2C119.2 64.2 124.5 62.2 129.9 64z"/><path class="st5" d="M200.2 165.1c-0.3 0.8-2.1 0.2-3.1 0 -7-1.5-15.1-3.9-22-6 -15.9-5-30.8-11.1-42.5-21.3 -6.2-5.4-12.5-13.3-11.6-24.7 0.2-2.6 1.2-4.7 1.7-7 0.4-2 0.3-3.7 0.7-5.3 2.6-10.2 10.4-18.1 18.4-23.9 9.1-6.7 20.5-13 35.1-12.6 -3.5 2.3-7.6 4-10.9 6.5 4.4-0.9 10-2.2 15-1 -12.5 6.7-25.2 13.2-32.9 25.6 -2.4 3.8-5 9.8-4.4 15 0.3 2.8 2.2 6 3.9 8.7 10.8 17.9 29.8 28.3 49.6 37 -8.7-1.3-17.5-4.6-25.9-7 -0.2 0-0.2-0.2-0.5-0.2 7.5 5.5 16.3 10.7 25.6 14.5C197.6 163.9 199.3 163.9 200.2 165.1zM163 72.7c-1.3 0.4-2.6 1.9-3.9 2.9 -7.4 5.9-15.7 14.4-16.4 25.9 -0.1 1.4-0.3 2.9 0.5 4.3 1.5-9.9 7.4-16 13.3-21.5 6-5.6 13.6-9.8 21-14C172.2 70.2 167.1 71.4 163 72.7zM133 136.8c14.9 13.1 38.8 20.7 59.2 26.1 0.4 0.1 0.6-0.3 0-0.2 -6.8-3.3-13.8-7.1-19.8-11.1 -2.1-1.4-4-3.3-6-4.3 -1.1-0.6-2.7-0.7-3.9-1.2 -3.6-1.5-6.9-3.2-10.4-4.8 -13.6-6.6-26.1-14.7-29.7-31.4C120.1 122.5 126.3 130.9 133 136.8z"/></svg></div> </div> <div id="circleG"> <div id="circleG_1" class="circleG"></div> <div id="circleG_2" class="circleG"></div> <div id="circleG_3" class="circleG"></div> <div id="circleG_4" class="circleG"></div> <div id="circleG_5" class="circleG"></div> </div> </div> </div> <link rel="stylesheet" type="text/css" href="//static.naukri.com/s/7/109/c/main.7b9f096a.min.css" media="all"/>  <script> (function() { var queuedSuperProps = []; var queuedEvents = []; window.ub = { track: function(eventName, eventProps) { queuedEvents.push([eventName, eventProps]) }, register: function(properties) { queuedSuperProps.push(properties); } };\n            var script = document.createElement("script"); script.async = true; script.src = "//static.naukri.com/s/0/1/j/ub_v1.7.min.js";script.onload = function() { ub.init({\n                    beaconUrl : "https://logs.naukri.com/uba", bulkBeaconUrl : "https://logs.naukri.com/collectorapi/v1/uba/bulk", queuedEvents:queuedEvents, queuedSuperProps:queuedSuperProps,  tenantId:\'1\' , autoTrack:false, blackList: \n                []\n            }); };document.head.appendChild(script);}()); ub.register({ appId:109, pageName: "jobsearch",  tenantId:\'1\' , }); </script>   <script>\n    //hack of IE and safari bug : Super expression must either be null or a function, not undefined\n    if (typeof HTMLElement !== \'function\') {\n        var _HTMLElement = function() {};\n        _HTMLElement.prototype = HTMLElement.prototype;\n        HTMLElement = _HTMLElement;\n    }\n    </script> <script src="//static.naukri.com/s/7/109/j/vendors~main.3327969a.min.js" type="text/javascript" defer></script> <script src="//static.naukri.com/s/7/109/j/main.dd29822b.min.js" type="text/javascript" defer></script> <script type="text/javascript" src="//static.naukri.com/s/0/0/j/nLoggerJB_v3.0.min.js"></script> <script type="text/javascript">\n   window.nLogger && nLogger.init({ "tag": "revamped_srp", "nLogger": { "beaconUrl": "https:\\/\\/lg.naukri.com\\/uba", "eventName": "newMonkError", "deviceType": "SERVER" }, "boomerang": { "logBW": false, "beaconUrl": "https:\\/\\/lg.naukri.com\\/uba", "imageURL": "\\/\\/static.naukri.com\\/s\\/0\\/0\\/i\\/", "eventName": "newMonkPerformance", "deviceType": "SERVER" }, "tenantId": 1, "appId": 109, "userIP": "2045974146" });\n </script> <script type="text/javascript">\n   (function(w, d, s, l, i) {\n     w[l] = w[l] || [];\n     w[l].push({\n         \'gtm.start\': new Date().getTime(),\n         event: \'gtm.js\'\n     });\n     var f = d.getElementsByTagName(s)[0],\n         j = d.createElement(s),\n         dl = l != \'dataLayer\' ? \'&l=\' + l : \'\';\n     j.defer = \'defer\';\n     j.src =\n         \'https://www.googletagmanager.com/gtm.js?id=\' + i + dl;\n     f.parentNode.insertBefore(j, f);\n   })(window, document, \'script\', \'dataLayer\', \'GTM-NX744H\');\n </script> <script defer src=\'https://www.googletagservices.com/tag/js/gpt.js\'></script> <script>\n          var googletag = googletag || {};\n          googletag.cmd = googletag.cmd || [];  \n    </script> <script type="text/javascript"  src="/lTLccy6kg9cebU44g_uNmhokD48/7pGuSbDVac/QjNEdkQB/Bho/zP0AaFgM"></script></body> </html>'

In [291]:
driver = webdriver.Chrome("chromedriver.exe")
url="https://www.naukri.com/"
driver.get(url)

In [292]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("data scientist, Machine Learning")

In [293]:
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys("Bangalore")

In [294]:
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [295]:
#extract all the job title
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags
job_titles= []
for i in titles_tags:
    job_titles.append(i.text)
job_titles

['Data Scientist, Machine Learning',
 'Data Scientist - Machine Learning',
 'Staff Data Scientist - Machine Learning, BigData',
 'Data Scientist - Machine Learning, BigData',
 'Senior/Lead Data Scientist - Machine Learning/Deep Learning',
 'Data Scientist - Algorithm/ Machine Learning',
 'Lead Data Scientist - Deep Learning/Machine Learning',
 'Machine Learning Lead / Data Scientist ML Lead',
 'Data Scientist, Machine Learning',
 'DATA SCIENTIST / MACHINE LEARNING EXPERT',
 'Data Scientist Machine Learning (Commerce BU)',
 'Data Scientist - Machine Learning/Deep Learning',
 'Chief Data Scientist - Machine Learning/ Python',
 'Senior Data Scientist / Machine Learning / AI Engineer',
 'Senior Data Scientist / Machine Learning / AI Engineer',
 'Data Scientist - Machine Learning',
 'Head - Data Scientist - Machine Learning',
 'Chief Data Scientist - Machine Learning/ Python',
 'Chief Data Scientist - Machine Learning/python',
 'Data Scientist - Python/MATLAB/Machine Learning Algorithms']

In [296]:
#extract  the companies names
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags
companies_names= []
for i in companies_tags:
    companies_names.append(i.text)
companies_names

['Fractal Analytics',
 'AugmatrixGo',
 'Juniper Networks India Pvt Ltd',
 'Juniper Networks India Pvt Ltd',
 'Squareroot Consulting Pvt Ltd.',
 'Ally -eXecutive HR Consulting Partner',
 'Okda Solutions',
 'MintFin Solutions',
 'Fractal Analytics',
 'Spectrus',
 'Blue Yonder',
 'Serving Skill',
 'Catalyst',
 'Bion',
 'Bion',
 'Catalyst',
 'e-Hireo Global Pvt Ltd',
 'Catalyst',
 'Catalyst',
 'Wrackle Technologies Pvt Ltd']

In [297]:
#extract  the experience list

experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_tags
experience_list= []
for i in experience_tags:
    experience_list.append(i.text)
experience_list

['3-6 Yrs',
 '2-5 Yrs',
 '7-12 Yrs',
 '5-10 Yrs',
 '1-6 Yrs',
 '6-9 Yrs',
 '2-7 Yrs',
 '6-11 Yrs',
 '3-7 Yrs',
 '4-9 Yrs',
 '4-8 Yrs',
 '4-6 Yrs',
 '7-12 Yrs',
 '8-13 Yrs',
 '8-10 Yrs',
 '2-7 Yrs',
 '8-10 Yrs',
 '9-14 Yrs',
 '7-12 Yrs',
 '3-8 Yrs']

In [298]:
#extract all  the locations names

locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
locations_tags
locations_names= []
for i in locations_tags:
    locations_names.append(i.text)
locations_names

['Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [357]:
#making dataframe

jobs=pd.DataFrame({})
jobs['title']=job_titles[:10]
jobs['company']=companies_names[:10]
jobs['experience_required']=experience_list[:10]
jobs['location']=locations_names[:10]
jobs

,title,company,experience_required,location
0,Data analytics / Data scientist intern (work f...,TalkValley LLC,0-5 Yrs,"Kolkata, Bangalore/Bengaluru, Delhi / NCR"
1,Data Scientist,Fractal Analytics,3-7 Yrs,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru"
2,Chaayos is Looking For Data Scientist,Chaayos (Sunshine Teahouse Pvt. Ltd.),0-5 Yrs,New Delhi
3,Junior Data Scientist,R Systems International Ltd.,3-5 Yrs,Noida(Sector-59 Noida)
4,We are hiring- Data Scientist +Python- Noida,RANDSTAD INDIA PVT LTD,4-7 Yrs,"Noida, Gurgaon/Gurugram, Delhi / NCR"
5,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
6,Data Scientist,Milliman India Pvt Ltd,2-5 Yrs,"Gurgaon/Gurugram, Delhi / NCR"
7,Data Scientist,NEC CORPORATION INDIA PRIVATE LIMITED,3-8 Yrs,Noida
8,"Data Analyst/Scientist Big Data, Statistical T...",The Search House (A Div of JSD Search House Pv...,2-7 Yrs,Gurgaon/Gurugram
9,Business Analyst- Data Scientist,Wipro,2-5 Yrs,"Noida, Gurgaon/Gurugram"

# Question 3 scrape data using the filters .

In [322]:
url="https://www.naukri.com/data-scientist-jobs-in-delhi-ncr?k=data%20scientist&l=delhi%2Fncr&cityTypeGid=9508&ctcFilter=3to6"
page = requests.get(url)
page.text
driver = webdriver.Chrome("chromedriver.exe")
url="https://www.naukri.com/"
driver.get(url)

In [323]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("data scientist")
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys("Delhi/NCR")
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [324]:
#extract all the tag having the job title
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags
job_titles= []
for i in titles_tags:
    job_titles.append(i.text)
job_titles

['Data analytics / Data scientist intern (work from Home)',
 'Data Scientist',
 'Chaayos is Looking For Data Scientist',
 'Junior Data Scientist',
 'We are hiring- Data Scientist +Python- Noida',
 'Data Scientist / Data Analyst -Business Analyst',
 'Data Scientist',
 'Data Scientist',
 'Data Analyst/Scientist Big Data, Statistical Techniques',
 'Business Analyst- Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Associate Data Scientist',
 'Associate Data Scientist',
 'Data Scientist - Python/ SQL',
 'Data Scientist']

In [325]:
#extract all the companies names
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags
companies_names= []
for i in companies_tags:
    companies_names.append(i.text)
companies_names

['TalkValley LLC',
 'Fractal Analytics',
 'Chaayos (Sunshine Teahouse Pvt. Ltd.)',
 'R Systems International Ltd.',
 'RANDSTAD INDIA PVT LTD',
 'Inflexion Analytix Private Limited',
 'Milliman India Pvt Ltd',
 'NEC CORPORATION INDIA PRIVATE LIMITED',
 'The Search House (A Div of JSD Search House Pvt. L td.)',
 'Wipro',
 'iNICU',
 'Evalueserve.com Pvt. Ltd',
 'BlackBuck',
 'Country Veggie',
 'Mahajan Imaging',
 'Mahajan Imaging',
 'Right Step Consulting',
 'Blow Trumpet Solutions',
 'Schlesinger Group',
 'itForte Staffing Services Private Ltd.']

In [326]:
#extract all the experience list

experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_tags
experience_list= []
for i in experience_tags:
    experience_list.append(i.text)
experience_list

['0-5 Yrs',
 '3-7 Yrs',
 '0-5 Yrs',
 '3-5 Yrs',
 '4-7 Yrs',
 '0-3 Yrs',
 '2-5 Yrs',
 '3-8 Yrs',
 '2-7 Yrs',
 '2-5 Yrs',
 '1-5 Yrs',
 '4-7 Yrs',
 '3-7 Yrs',
 '1-3 Yrs',
 '2-6 Yrs',
 '2-6 Yrs',
 '3-6 Yrs',
 '1-5 Yrs',
 '3-6 Yrs',
 '3-8 Yrs']

In [327]:
#extract all  the locations names

locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
locations_tags
locations_names= []
for i in locations_tags:
    locations_names.append(i.text)
locations_names

['Kolkata, Bangalore/Bengaluru, Delhi / NCR',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'New Delhi',
 'Noida(Sector-59 Noida)',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Noida',
 'Gurgaon/Gurugram',
 'Noida, Gurgaon/Gurugram',
 'Delhi',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpur, Ghaziabad, Jaunpur, Kanpur, New Delhi, Lucknow, Agra, Gurgaon/Gurugram, Rajkot, Bangalore/Bengaluru',
 'New Delhi',
 'Delhi',
 'Noida',
 'New Delhi',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon']

In [328]:
#extract all the locations names

salary_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi salary']")
locations_tags
salary_list= []
for i in salary_tags:
    salary_list.append(i.text)
salary_list

['2,00,000 - 3,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '3,50,000 - 4,50,000 PA.',
 'Not disclosed',
 'Not disclosed',
 '5,00,000 - 8,00,000 PA.',
 '3,50,000 - 6,50,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed']

In [356]:
#making dataframe

jobs=pd.DataFrame({})
jobs['title']=job_titles[:10]
jobs['company']=companies_names[:10]
jobs['experience_required']=experience_list[:10]
jobs['location']=locations_names[:10]
jobs['salary']=salary_list[:10]
jobs

,title,company,experience_required,location,salary
0,Data analytics / Data scientist intern (work f...,TalkValley LLC,0-5 Yrs,"Kolkata, Bangalore/Bengaluru, Delhi / NCR","2,00,000 - 3,00,000 PA."
1,Data Scientist,Fractal Analytics,3-7 Yrs,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Not disclosed
2,Chaayos is Looking For Data Scientist,Chaayos (Sunshine Teahouse Pvt. Ltd.),0-5 Yrs,New Delhi,Not disclosed
3,Junior Data Scientist,R Systems International Ltd.,3-5 Yrs,Noida(Sector-59 Noida),Not disclosed
4,We are hiring- Data Scientist +Python- Noida,RANDSTAD INDIA PVT LTD,4-7 Yrs,"Noida, Gurgaon/Gurugram, Delhi / NCR",Not disclosed
5,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...","3,50,000 - 4,50,000 PA."
6,Data Scientist,Milliman India Pvt Ltd,2-5 Yrs,"Gurgaon/Gurugram, Delhi / NCR",Not disclosed
7,Data Scientist,NEC CORPORATION INDIA PRIVATE LIMITED,3-8 Yrs,Noida,Not disclosed
8,"Data Analyst/Scientist Big Data, Statistical T...",The Search House (A Div of JSD Search House Pv...,2-7 Yrs,Gurgaon/Gurugram,"5,00,000 - 8,00,000 PA."
9,Business Analyst- Data Scientist,Wipro,2-5 Yrs,"Noida, Gurgaon/Gurugram","3,50,000 - 6,50,000 PA."

# Question 4 scrap the data  for Data scientist Designation in Noida location.

In [332]:
page=requests.get('https://www.glassdoor.co.in/index.htm')
page

#can not scrap Question no 4 and 5 as webpage showing an error above

# Question 6 Scrape data of first 100 sunglasses listings on flipkart.com

In [360]:
#the webpage 

url = "https://www.flipkart.com/search?q=sunglasses&sid=26x&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&as-pos=1&as-type=RECENT&suggestionId=sunglasses%7CSunglasses&requestId=2ab638c5-6946-44bf-8e77-2c9e893e391b&as-searchtext=su"
page = requests.get(url)

# content in page1


soup = BeautifulSoup(page.content)
Brand = []  
Product_Description = []    
Price = []   
Discount = []  


# Scrape Brand name
for i in soup.find_all("div",class_="_2WkVRV"):
    Brand.append(i.text)

# Scrape product Description 
for i in soup.find_all("a",class_="IRpwTa"):
    Product_Description.append(i.text)

# scrap price
for i in soup.find_all("div",class_="_30jeq3"):
    Price.append(i.text)
    
# Scrape Discount_%
for i in soup.find_all("div",class_="_3Ay6Sb"):
    Discount.append(i.text)
    
# Make data frame 100 sunglasses listed on flipkart.com
sunglasses=pd.DataFrame({})
sunglasses['Brand']=Brand[:40]
sunglasses['Product_Description']=Product_Description[:40]
sunglasses['Price']=Price[:40]
sunglasses['Discount_%'] = Discount[:40]
sunglasses

,Brand,Product_Description,Price,Discount_%
0,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
1,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹299,88% off
2,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹570,28% off
3,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹621,22% off
4,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
5,PIRASO,UV Protection Aviator Sunglasses (58),₹331,87% off
6,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹331,79% off
7,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹399,80% off
8,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹474,78% off
9,kingsunglasses,UV Protection Round Sunglasses (Free Size),₹339,78% off
10,DEIXELS,"UV Protection Aviator, Wayfarer Sunglasses (Fr...",₹213,82% off
11,GANSTA,UV Protection Aviator Sunglasses (57),₹281,85% off
12,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹404,79% off
13,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
14,NuVew,"UV Protection, Gradient, Night Vision, Mirrore...",₹282,75% off
15,Singco,Mirrored Aviator Sunglasses (53),₹249,75% off
16,Singco India,UV Protection Aviator Sunglasses (Free Size),₹349,70% off
17,Silver Kartz,UV Protection Wayfarer Sunglasses (Free Size),₹246,83% off
18,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹733,18% off
19,elegante,UV Protection Round Sunglasses (Free Size),₹199,80% off
20,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹379,81% off
21,ROYAL SON,UV Protection Rectangular Sunglasses (58),₹399,73% off
22,Singco India,"Mirrored, Riding Glasses, Others Sports Sungla...",₹252,83% off
23,GANSTA,"UV Protection, Mirrored Wayfarer Sunglasses (53)",₹199,80% off
24,HIPPON,UV Protection Wayfarer Sunglasses (55),₹251,79% off
25,ROZZETTA CRAFT,"UV Protection, Riding Glasses Rectangular Sung...",₹426,80% off
26,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹674,25% off
27,ROYAL SON,"UV Protection, Gradient Wayfarer Sunglasses (55)",₹217,78% off
28,ROYAL SON,UV Protection Retro Square Sunglasses (58),₹499,66% off
29,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
30,ROYAL SON,Mirrored Aviator Sunglasses (55),₹319,78% off
31,Singco India,UV Protection Round Sunglasses (Free Size),₹209,79% off
32,kingsunglasses,UV Protection Round Sunglasses (54),₹219,80% off
33,Singco India,"UV Protection, Riding Glasses, Others Aviator,...",₹214,69% off
34,Poland,UV Protection Wayfarer Sunglasses (Free Size),₹162,67% off
35,NuVew,UV Protection Aviator Sunglasses (57),₹156,79% off
36,hipe,"Mirrored, UV Protection, Gradient Round Sungla...",₹210,85% off
37,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,085",16% off
38,NuVew,UV Protection Aviator Sunglasses (58),₹204,74% off
39,PIRASO,UV Protection Butterfly Sunglasses (65),₹323,87% off

In [361]:
#send get request to the webpage server to get the source code of the page
url = "https://www.flipkart.com/search?q=sunglasses&sid=26x&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&as-pos=1&as-type=RECENT&suggestionId=sunglasses%7CSunglasses&requestId=2ab638c5-6946-44bf-8e77-2c9e893e391b&as-searchtext=su&page=2"
page = requests.get(url)

# content in page3

soup = BeautifulSoup(page.content)
Brand = [] 
Product_Description = []   
Price = []   
Discount = []  


# Scrape Brand name
for i in soup.find_all("div",class_="_2WkVRV"):
    Brand.append(i.text)

# Scrape product Description 
for i in soup.find_all("a",class_="IRpwTa"):
    Product_Description.append(i.text)

# scrap price
for i in soup.find_all("div",class_="_30jeq3"):
    Price.append(i.text)
    
# Scrape Discount_%
for i in soup.find_all("div",class_="_3Ay6Sb"):
    Discount.append(i.text)
    
# Make data frame 100 sunglasses listed on flipkart.com
sunglasses=pd.DataFrame({})
sunglasses['Brand']=Brand[:40]
sunglasses['Product_Description']=Product_Description[:40]
sunglasses['Price']=Price[:40]
sunglasses['Discount_%'] = Discount[:40]
sunglasses

,Brand,Product_Description,Price,Discount_%
0,ROYAL SON,UV Protection Wayfarer Sunglasses (55),₹265,₹1034 off
1,Fravy,"UV Protection, Gradient, Night Vision Retro Sq...",₹329,₹1670 off
2,PHENOMENAL,UV Protection Clubmaster Sunglasses (Free Size),₹319,₹1679 off
3,Fastrack,UV Protection Wrap-around Sunglasses (Free Size),₹522,₹377 off
4,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹379,₹1620 off
5,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹449,₹1550 off
6,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹638,₹161 off
7,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹449,₹3214 off
8,hipe,UV Protection Sports Sunglasses (Free Size),₹319,₹1580 off
9,hipe,Mirrored Wayfarer Sunglasses (55),₹219,₹780 off
10,DEIXELS,"Polarized, UV Protection, Riding Glasses Wayfa...",₹249,₹350 off
11,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹621,₹178 off
12,PIRASO,UV Protection Wayfarer Sunglasses (32),₹237,₹1362 off
13,GANSTA,"UV Protection, Riding Glasses Wayfarer Sunglas...",₹260,₹1735 off
14,Cristiano Ronnie,"UV Protection, Riding Glasses Aviator Sunglass...",₹399,₹1150 off
15,Flizz,"UV Protection, Polarized Rectangular Sunglasse...",₹279,₹1220 off
16,ROZZETTA CRAFT,"Gradient, UV Protection Round Sunglasses (Free...",₹426,₹1569 off
17,Fastrack,UV Protection Shield Sunglasses (Free Size),₹759,₹140 off
18,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,₹141 off
19,elegante,UV Protection Round Sunglasses (Free Size),₹199,₹800 off
20,AISLIN,"UV Protection, Gradient Butterfly, Retro Squar...",₹516,₹1009 off
21,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹299,₹2300 off
22,Fravy,UV Protection Retro Square Sunglasses (Free Size),₹289,₹1210 off
23,NuVew,"UV Protection, Riding Glasses Wayfarer Sunglas...",₹223,₹752 off
24,kingsunglasses,UV Protection Round Sunglasses (Free Size),₹339,₹1260 off
25,GANSTA,"UV Protection, Night Vision, Riding Glasses Av...",₹292,₹1707 off
26,Flizz,UV Protection Retro Square Sunglasses (Free Size),₹399,₹1800 off
27,AISLIN,UV Protection Oval Sunglasses (60),₹687,₹1788 off
28,DEIXELS,UV Protection Round Sunglasses (Free Size),₹219,₹580 off
29,NuVew,"UV Protection, Riding Glasses Aviator Sunglass...",₹412,₹1238 off
30,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹426,₹1573 off
31,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹627,₹172 off
32,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,123",₹176 off
33,NuVew,"UV Protection, Riding Glasses Aviator Sunglass...",₹206,₹839 off
34,GANSTA,"UV Protection, Gradient Aviator Sunglasses (57)",₹233,₹1066 off
35,Silver Kartz,UV Protection Oval Sunglasses (56),₹284,₹915 off
36,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹399,₹1600 off
37,FOSSIL,Mirrored Round Sunglasses (51),"₹1,960",₹2440 off
38,ROZZETTA CRAFT,UV Protection Rectangular Sunglasses (Free Size),₹398,₹1101 off
39,GANSTA,"Night Vision, Riding Glasses Wayfarer Sunglass...",₹207,₹1592 off

In [362]:
#send get request to the webpage server to get the source code of the page
url = "https://www.flipkart.com/search?q=sunglasses&sid=26x&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&as-pos=1&as-type=RECENT&suggestionId=sunglasses%7CSunglasses&requestId=2ab638c5-6946-44bf-8e77-2c9e893e391b&as-searchtext=su&page=3"
page = requests.get(url)
# content in page2
soup = BeautifulSoup(page.content)
Brand = []  
Product_Description = []   
Price = []   
Discount = []   


# Scrape Brand name
for i in soup.find_all("div",class_="_2WkVRV"):
    Brand.append(i.text)

# Scrape product Description 
for i in soup.find_all("a",class_="IRpwTa"):
    Product_Description.append(i.text)

# scrap price
for i in soup.find_all("div",class_="_30jeq3"):
    Price.append(i.text)
    
# Scrape Discount_%
for i in soup.find_all("div",class_="_3Ay6Sb"):
    Discount.append(i.text)
    
# Make data frame 100 sunglasses listed on flipkart.com
sunglasses=pd.DataFrame({})
sunglasses['Brand']=Brand[:20]
sunglasses['Product_Description']=Product_Description[:20]
sunglasses['Price']=Price[:20]
sunglasses['Discount_%'] = Discount[:20]
sunglasses

,Brand,Product_Description,Price,Discount_%
0,FOSSIL,Mirrored Round Sunglasses (51),"₹1,960",55% off
1,GANSTA,"UV Protection, Gradient Aviator Sunglasses (55)",₹286,85% off
2,hipe,"UV Protection, Night Vision, Gradient, Mirrore...",₹210,78% off
3,GANSTA,"UV Protection, Night Vision, Riding Glasses Av...",₹223,82% off
4,ROYAL SON,"Polarized, UV Protection Aviator Sunglasses (58)",₹711,64% off
5,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹687,14% off
6,AISLIN,"UV Protection, Gradient Wayfarer, Retro Square...",₹450,73% off
7,AISLIN,"UV Protection, Gradient Butterfly, Retro Squar...",₹516,66% off
8,PHENOMENAL,"UV Protection, Mirrored, Gradient Retro Square...",₹259,87% off
9,hipe,"UV Protection, Gradient, Riding Glasses Wayfar...",₹249,75% off
10,NuVew,"UV Protection, Mirrored Sports Sunglasses (73)",₹330,73% off
11,Fastrack,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹901,9% off
12,PHENOMENAL,UV Protection Retro Square Sunglasses (55),₹399,80% off
13,GANSTA,"UV Protection, Gradient Wayfarer Sunglasses (53)",₹296,85% off
14,PHENOMENAL,"UV Protection, Mirrored Clubmaster Sunglasses ...",₹319,84% off
15,NuVew,"UV Protection, Mirrored, Gradient, Riding Glas...",₹310,79% off
16,ROYAL SON,Mirrored Aviator Sunglasses (55),₹399,73% off
17,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹426,84% off
18,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
19,NuVew,"UV Protection Wayfarer, Rectangular Sunglasses...",₹355,66% off

# Question 7 100 reviews data from flipkart.com for iphone11 phone.

In [392]:
#send get request to the webpage server to get the source code of the page
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace"
page = requests.get(url)

# content in page1

soup = BeautifulSoup(page.content)
Rating = []  
Review_summary = []   
Full_review = []   



# Scrape Rating name
for i in soup.find_all("div",class_="_3LWZlK _1BLPMq"):
    Rating.append(i.text)

# Scrape Review summary 
for i in soup.find_all("p",class_="_2-N8zT"):
    Review_summary.append(i.text)

# scrap Full review
for i in soup.find_all("div",class_="t-ZTKy"):
    Full_review.append(i.text)
    

    
# Make data frame 100 reviews data from flipkart.com for iphone11 phone
reviews=pd.DataFrame({})
reviews['Rating']=Rating
reviews['Review_summary']=Review_summary
reviews['Full_review']=Full_review
reviews

,Rating,Review_summary,Full_review
0,5,Brilliant,The Best Phone for the MoneyThe iPhone 11 offe...
1,5,Fabulous!,This is my first iOS phone. I am very happy wi...
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Great product,Amazing Powerful and Durable Gadget.I’m am ver...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
5,4,Good choice,So far it’s been an AMAZING experience coming ...
6,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
7,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
8,5,Perfect product!,Value for money❤️❤️Its awesome mobile phone in...
9,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...

In [393]:
#send get request to the webpage server to get the source code of the page
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2"
page = requests.get(url)

# content in page2

soup = BeautifulSoup(page.content)
Rating = [] 
Review_summary = []    
Full_review = []   



# Scrape Rating name

for i in soup.find_all("div",class_="_3LWZlK _1BLPMq"):
    Rating.append(i.text)

# Scrape Review summary 

for i in soup.find_all("p",class_="_2-N8zT"):
    Review_summary.append(i.text)

# scrap Full review

for i in soup.find_all("div",class_="t-ZTKy"):
    Full_review.append(i.text)
    

    
# Make data frame 100 reviews data from flipkart.com for iphone11 phone
reviews=pd.DataFrame({})
reviews['Rating']=Rating
reviews['Review_summary']=Review_summary
reviews['Full_review']=Full_review
reviews

,Rating,Review_summary,Full_review
0,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
1,5,Highly recommended,What a camera .....just awesome ..you can feel...
2,5,Simply awesome,"Excellent camera, good performance, no lag. Th..."
3,5,Worth every penny,It’s been almost a month since I have been usi...
4,4,Nice product,Awesome Phone. Slightly high price but worth. ...
5,5,Terrific,Really worth of money. i just love it. It is t...
6,5,Highly recommended,It's my first time to use iOS phone and I am l...
7,5,Classy product,Superb Product !!! A big and worthy upgrade fr...
8,5,Wonderful,This is my first ever I phone. Before this I w...
9,5,Brilliant,"I have migrated from OP 7pro... and trust me, ..."

In [394]:
#send get request to the webpage server to get the source code of the page
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=3"
page = requests.get(url)

#content in page3

soup = BeautifulSoup(page.content)
Rating = [] 
Review_summary = []   
Full_review = []   



# Scrape Rating name
for i in soup.find_all("div",class_="_3LWZlK _1BLPMq"):
    Rating.append(i.text)

# Scrape Review summary 
for i in soup.find_all("p",class_="_2-N8zT"):
    Review_summary.append(i.text)

# scrap Full review
for i in soup.find_all("div",class_="t-ZTKy"):
    Full_review.append(i.text)
    

    
# Make data frame 100 reviews data from flipkart.com for iphone11 phone
reviews=pd.DataFrame({})
reviews['Rating']=Rating
reviews['Review_summary']=Review_summary
reviews['Full_review']=Full_review
reviews

,Rating,Review_summary,Full_review
0,5,Must buy!,It’s an amazing product from apple and the cam...
1,5,Perfect product!,After 1 month use I found camera quality best ...
2,5,Terrific purchase,Upgraded from iphone 6 to 11 best phone for ip...
3,5,Wonderful,I just directly switch from iphone 6s to iphon...
4,5,Simply awesome,It's very high performances devise i am like t...
5,5,Mind-blowing purchase,This will help you more. See if you are planni...
6,5,Great product,Well you all know the specifications . One of ...
7,5,Terrific purchase,The built quality is not very premium. The bat...
8,5,Simply awesome,Really good actually this is my first apple pr...
9,4,Good quality product,it is very good at performance. Camera is best...

In [418]:
#send get request to the webpage server to get the source code of the page
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=5"
page = requests.get(url)

# content in page4

soup = BeautifulSoup(page.content)
Rating = []  
Review_summary = []    
Full_review = []   



# Scrape Rating name
for i in soup.find_all("div",class_="_3LWZlK _1BLPMq"):
    Rating.append(i.text)

# Scrape Review summary 
for i in soup.find_all("p",class_="_2-N8zT"):
    Review_summary.append(i.text)

# scrap Full review
for i in soup.find_all("div",class_="t-ZTKy"):
    Full_review.append(i.text)
    

    
# Make data frame 100 reviews data from flipkart.com for iphone11 phone
reviews=pd.DataFrame({})
reviews['Rating']=Rating
reviews['Review_summary']=Review_summary
reviews['Full_review']=Full_review
reviews

  Rating     Review_summary                                        Full_review
0      4        Good choice  Looking so good 👍 😍  super 👌 stylish 😎 phone  ...
1      4          Very Good  impressive  super phone and best in class came...
2      5   Perfect product!  Battery backup is extraordinary, camera is dec...
3      5     Classy product  Well while switching from android to iOS the f...
4      5   Perfect product!  In love with this iphone great performance,cam...
5      5          Just wow!  Best in class. Battery backup is good especial...
6      5            Awesome  Very excited to have this phone. This phone ha...
7      5           Terrific  I upgraded (downgraded?) from my iPhone X sinc...
8      5  Terrific purchase  Its Very awesome product working and good came...
9      5   Perfect product!  Best and amazing product.....phone looks so pr...

In [422]:
#send get request to the webpage server to get the source code of the page
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=7"
page = requests.get(url)

# content in page5

soup = BeautifulSoup(page.content)
Rating = []  
Review_summary = []    
Full_review = []   



# Scrape Rating name
for i in soup.find_all("div",class_="_3LWZlK _1BLPMq"):
    Rating.append(i.text)

# Scrape Review summary 
for i in soup.find_all("p",class_="_2-N8zT"):
    Review_summary.append(i.text)

# scrap Full review
for i in soup.find_all("div",class_="t-ZTKy"):
    Full_review.append(i.text)
    

    
# Make data frame 100 reviews data from flipkart.com for iphone11 phone
reviews=pd.DataFrame({})
reviews['Rating']=Rating
reviews['Review_summary']=Review_summary
reviews['Full_review']=Full_review
reviews

,Rating,Review_summary,Full_review
0,5,Terrific purchase,finally an iPhone with very nice battery backu...
1,4,Good quality product,I'm switching this phone to oppo reno 10x zoom...
2,5,Simply awesome,Really satisfied with the Product I received.....
3,5,Perfect product!,Worth the money’ starting first from its perfo...
4,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
5,4,Value-for-money,I'm Really happy with the productDelivery was ...
6,5,Just wow!,Great iphone.I am writing this review after 2 ...
7,5,Super!,Did an upgrade from 6s plus to iphone 11.Ao fa...
8,5,Best in the market!,Damn this phone is a blast . Upgraded from and...
9,5,Perfect product!,Value for money5 star rating Excellent cameraB...

In [423]:
#send get request to the webpage server to get the source code of the page
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=8"
page = requests.get(url)

# content in page6

soup = BeautifulSoup(page.content)
Rating = []  
Review_summary = []    
Full_review = []  



# Scrape Rating name
for i in soup.find_all("div",class_="_3LWZlK _1BLPMq"):
    Rating.append(i.text)

# Scrape Review summary 
for i in soup.find_all("p",class_="_2-N8zT"):
    Review_summary.append(i.text)

# scrap Full review
for i in soup.find_all("div",class_="t-ZTKy"):
    Full_review.append(i.text)
    

    
# Make data frame 100 reviews data from flipkart.com for iphone11 phone
reviews=pd.DataFrame({})
reviews['Rating']=Rating
reviews['Review_summary']=Review_summary
reviews['Full_review']=Full_review
reviews

,Rating,Review_summary,Full_review
0,4,Value-for-money,Just got this iphone 11 And it is most powerfu...
1,5,Mind-blowing purchase,awesome Phone Smooth Touch Too good Sexyy look...
2,5,Must buy!,I rate this product 5* as it has got amazing u...
3,5,Fabulous!,I purchased the iPhone 11 a month back. I must...
4,5,Awesome,I am using this phone for 5 days and its one o...
5,5,Excellent,It was amazing experience for me. Honestly i a...
6,5,Excellent,Just go for it. This phone is really amazing. ...
7,5,Mind-blowing purchase,Absolutely powerful gadget. Loved it’s look! S...
8,4,Good quality product,I was torn between the oneplus 8 pro and the i...
9,5,Terrific purchase,I use a Note10+ and have been using both iOS a...

In [424]:
#send get request to the webpage server to get the source code of the page
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=9"
page = requests.get(url)

# content in page7

soup = BeautifulSoup(page.content)
Rating = [] 
Review_summary = []    
Full_review = []   



# Scrape Rating name
for i in soup.find_all("div",class_="_3LWZlK _1BLPMq"):
    Rating.append(i.text)

# Scrape Review summary 
for i in soup.find_all("p",class_="_2-N8zT"):
    Review_summary.append(i.text)

# scrap Full review
for i in soup.find_all("div",class_="t-ZTKy"):
    Full_review.append(i.text)
    

    
# Make data frame 100 reviews data from flipkart.com for iphone11 phone
reviews=pd.DataFrame({})
reviews['Rating']=Rating
reviews['Review_summary']=Review_summary
reviews['Full_review']=Full_review
reviews

,Rating,Review_summary,Full_review
0,5,Awesome,The phone is completely good As far as camera ...
1,3,Decent product,Everything u ll like it when u use this iPhone...
2,5,Just wow!,The ultimate performance Camera is superb The ...
3,5,Wonderful,Nice value for money good and best price I pho...
4,5,Super!,It's a great phone. From camera to display eve...
5,5,Super!,This is my first ever iPhone. And I truly don’...
6,5,Awesome,Can’t beat the software and hardware integrati...
7,5,Excellent,Value for money product. This iphone 11 is rea...
8,5,Highly recommended,Thanks Flipkart For this amazing deal! I had a...
9,4,Wonderful,I genuinely liked it. One of the best mobile p...

In [425]:
#send get request to the webpage server to get the source code of the page
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=10"
page = requests.get(url)

# content in page8

soup = BeautifulSoup(page.content)
Rating = []  
Review_summary = []   
Full_review = []   



# Scrape Rating name
for i in soup.find_all("div",class_="_3LWZlK _1BLPMq"):
    Rating.append(i.text)

# Scrape Review summary 
for i in soup.find_all("p",class_="_2-N8zT"):
    Review_summary.append(i.text)

# scrap Full review
for i in soup.find_all("div",class_="t-ZTKy"):
    Full_review.append(i.text)
    

    
# Make data frame 100 reviews data from flipkart.com for iphone11 phone
reviews=pd.DataFrame({})
reviews['Rating']=Rating
reviews['Review_summary']=Review_summary
reviews['Full_review']=Full_review
reviews

,Rating,Review_summary,Full_review
0,4,Nice product,If you are looking for a premium phone under 5...
1,4,Good quality product,"Awesome camera, smooth and fast UI, display is..."
2,5,Best in the market!,The best all rounder iphone. Flipkart is doing...
3,5,Classy product,We are on apple ecosystem for almost eight yea...
4,5,Excellent,A perfect phone and a good battery super came...
5,5,Mind-blowing purchase,i was confused between 11 and 11 pro. i was go...
6,5,Fabulous!,Product is nice at the deviled time the delive...
7,3,Does the job,phone is good but in display is 720p lcd in th...
8,5,Fabulous!,Everything is perfect pictures come out so cle...
9,5,Awesome,I dreamt about this day from a long time.... G...

In [426]:
#send get request to the webpage server to get the source code of the page
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=11"
page = requests.get(url)

#see content in page9

soup = BeautifulSoup(page.content)
Rating = []  
Review_summary = []    
Full_review = []   #



# Scrape Rating name
for i in soup.find_all("div",class_="_3LWZlK _1BLPMq"):
    Rating.append(i.text)

# Scrape Review summary 
for i in soup.find_all("p",class_="_2-N8zT"):
    Review_summary.append(i.text)

# scrap Full review
for i in soup.find_all("div",class_="t-ZTKy"):
    Full_review.append(i.text)
    

    
# Make data frame 100 reviews data from flipkart.com for iphone11 phone
reviews=pd.DataFrame({})
reviews['Rating']=Rating
reviews['Review_summary']=Review_summary
reviews['Full_review']=Full_review
reviews

,Rating,Review_summary,Full_review
0,5,Awesome,I dreamt about this day from a long time.... G...
1,5,Classy product,Got my iPhone 11 today! It’s totally worth it ...
2,4,Pretty good,I've used this phone for over a month now and ...
3,5,Brilliant,"Wow wow and wow, in 48k you will not get anyth..."
4,5,Most Price worthy Iphone,Reviewing within 1st Month 1st Month ReviewThi...
5,5,Excellent,Seller - SuperComNet ( my trust in you has gro...
6,5,Terrific purchase,"Well , as we all know if its not an Iphone , i..."
7,5,Worth every penny,iPhone is delivered on time. Display is great ...
8,5,Fabulous!,Just an awesome phone...upgraded from 6s to 11...
9,4,Value-for-money,As usual a great product from Apple. but the l...

In [427]:
#send get request to the webpage server to get the source code of the page
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=12"
page = requests.get(url)

#see content in page10

soup = BeautifulSoup(page.content)
Rating = []  #empty list
Review_summary = []    #empty list
Full_review = []   #empty list



# Scrape Rating name
for i in soup.find_all("div",class_="_3LWZlK _1BLPMq"):
    Rating.append(i.text)

# Scrape Review summary 
for i in soup.find_all("p",class_="_2-N8zT"):
    Review_summary.append(i.text)

# scrap Full review
for i in soup.find_all("div",class_="t-ZTKy"):
    Full_review.append(i.text)
    

    
# Make data frame 100 reviews data from flipkart.com for iphone11 phone
reviews=pd.DataFrame({})
reviews['Rating']=Rating
reviews['Review_summary']=Review_summary
reviews['Full_review']=Full_review
reviews

,Rating,Review_summary,Full_review
0,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...
1,5,Classy product,I got this phone for good price hence 5 star f...
2,5,Mind-blowing purchase,After using more than a year of using iPhone11...
3,5,Great product,This iphone 11 by apple is simply amazing . Io...
4,5,Perfect product!,At time of writing this review this phone proc...
5,5,Simply awesome,Incredible phone with a excellent battery and ...
6,5,Wonderful,Dont think too much guys. perfect phone for da...
7,5,Fabulous!,This is my first I phone and I'm very happy to...
8,5,Classy product,Amazing delivery. Got my phone a day before ex...
9,5,Perfect product!,Excellent service by Flipkart. The phone is tr...

# Question 8 100 sneakers flipkart.com

In [435]:
#send get request to the webpage server to get the source code of the page
url = "https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"
page = requests.get(url)

#page1 content

soup = BeautifulSoup(page.content)
Brand = [] 
Product_Description = []    
Price = []   
Discount = []

In [436]:
# Scrape Brand name
for i in soup.find_all("div",class_="_2WkVRV"):
    Brand.append(i.text)

# Scrape product Description 
for i in soup.find_all("a",class_="IRpwTa"):
    Product_Description.append(i.text)

# scrap price
for i in soup.find_all("div",class_="_30jeq3"):
    Price.append(i.text)
    
# Scrape Discount_%
for i in soup.find_all("div",class_="_3Ay6Sb"):
    Discount.append(i.text)

In [440]:
# Make data frame 100 sneakers listed on flipkart.com
sneakers=pd.DataFrame({})
sneakers['Brand']=Brand[:40]
sneakers['Product_Description']=Product_Description[:40]
sneakers['Price']=Price[:40]
sneakers['Discount_%'] = Discount[:40]
sneakers

,Brand,Product_Description,Price,Discount_%
0,India hub,Fashionable casual sneakers shoes Sneakers For...,₹389,87% off
1,ORICUM,Combo pack of 2 casual sneaker shoes for men S...,₹377,62% off
2,CALCADOS,Modern Trendy Shoes Combo pack of 4 Sneakers F...,₹748,62% off
3,Shoes Bank,White Sneaker For Men's/Boy's Sneakers For Men,₹398,60% off
4,ASTEROID,Luxury Branded Fashionable Men's Casual Walkin...,₹499,75% off
5,PEHANOSA,Sneakers For Men,₹499,50% off
6,Alfiya,Shoes in Black Color Party wear/Outdoor/Casual...,₹377,62% off
7,SCATCHITE,Sneakers Sneakers For Men,₹398,60% off
8,bluemaker,casual for men (blue 07) Sneakers For Men,₹474,52% off
9,Chevit,Super 445 Fashion Sneakers For Men,₹369,26% off
10,Stefano Rads,Classy Sneakers For Men,₹229,67% off
11,3SIX5,ORIFWSH(OR)-1077 Sneakers For Men,₹214,57% off
12,PUMA,Lazy Knit Slip On IDP Sneakers For Men,"₹1,506",49% off
13,Numenzo,Sneakers For Men,₹398,60% off
14,Robbie jones,Casual Sneakers White Shoes For Men Sneakers F...,₹499,50% off
15,Chevit,Men's Combo Pack of 02 Shoes for Men Casual Sn...,₹498,50% off
16,Birde,Men's Stylish Casual Shoes Sneakers For Men,₹283,43% off
17,HOTSTYLE,Sneakers Sneakers For Men,₹283,43% off
18,HOTSTYLE,Sneakers Sneakers For Men,₹283,43% off
19,SPARX,SD-323 Sneakers For Men,₹630,15% off
20,Chevit,Perfect & Affordable Combo Pack of 02 Pairs Sn...,₹567,68% off
21,TR,Sneakers For Men,₹379,81% off
22,SPARX,SM-322 Sneakers For Men,₹769,23% off
23,Absolute comfort,SOFT Sneakers For Men,₹199,60% off
24,Zsyto,Sneakers For Men,₹378,70% off
25,FILA,EMERIL Sneakers For Men,"₹1,267",59% off
26,Aura,Combo Pack of 2 Casual Shoes Sneakers For Men,₹525,47% off
27,kardam&sons,Fashionable casual sneaker shoes Sneakers For Men,₹379,81% off
28,ORICUM,Combo pack of 2 Casuals Shoes For Men (1563-15...,₹472,52% off
29,Nilatin,White Sneaker for Men Sneakers For Men,₹407,68% off
30,World Wear Footwear,Combo Pack of 4 Latest Collection Stylish Casu...,₹499,81% off
31,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹379,62% off
32,Chevit,Speed Set of 5 Pairs Sneakers Outdoors Casuals...,₹719,71% off
33,PUMA,Perforated Low IDP Sneakers For Men,"₹1,707",57% off
34,ESSENCE,Sneakers For Men,₹442,55% off
35,HOTSTYLE,Sneakers For Men,₹220,55% off
36,BRUTON,Men Combo Pack of 2 Casual & Sneaker Shoes (Lo...,₹341,85% off
37,Jokatoo,casual sneaker shoes and partywear shoes Casua...,₹418,71% off
38,Zorth,Sneakers For Men,₹538,46% off
39,T-ROCK,Synthetic Leather Casual Partywear Wedding Sne...,₹429,57% off

In [441]:
#send get request to the webpage server to get the source code of the page
url = "https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2"
page = requests.get(url)

#page_2 content

soup = BeautifulSoup(page.content)
Brand = []  
Product_Description = []    
Price = []   
Discount = []

In [442]:
# Scrape Brand name
for i in soup.find_all("div",class_="_2WkVRV"):
    Brand.append(i.text)

# Scrape product Description 
for i in soup.find_all("a",class_="IRpwTa"):
    Product_Description.append(i.text)

# scrap price
for i in soup.find_all("div",class_="_30jeq3"):
    Price.append(i.text)
    
# Scrape Discount_%
for i in soup.find_all("div",class_="_3Ay6Sb"):
    Discount.append(i.text)

In [443]:
# Make data frame 100 sneakers listed on flipkart.com
sneakers=pd.DataFrame({})
sneakers['Brand']=Brand[:40]
sneakers['Product_Description']=Product_Description[:40]
sneakers['Price']=Price[:40]
sneakers['Discount_%'] = Discount[:40]
sneakers

,Brand,Product_Description,Price,Discount_%
0,Chevit,Speed Set of 5 Pairs Sneakers Outdoors Casuals...,₹719,71% off
1,World Wear Footwear,Combo Pack of 4 Latest Collection Stylish Casu...,₹499,81% off
2,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹379,62% off
3,India hub,Fashionable casual sneakers shoes Sneakers For...,₹449,85% off
4,ESSENCE,Sneakers For Men,₹442,55% off
5,HOTSTYLE,Sneakers For Men,₹220,55% off
6,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹474,52% off
7,PUMA,Rigel IDP Sneakers For Men,"₹1,405",49% off
8,BRUTON,Men Combo Pack of 2 Casual & Sneaker Shoes (Lo...,₹341,85% off
9,Svpanther,1002 Sneakers For Men,₹499,50% off
10,Zorth,Sneakers For Men,₹538,46% off
11,T-ROCK,Synthetic Leather Casual Partywear Wedding Sne...,₹398,60% off
12,PUMA,Perforated Low IDP Sneakers For Men,"₹1,707",57% off
13,HOC,Casual Sneakers Shoes For Men Sneakers For Men,₹379,70% off
14,Absolute comfort,Sneakers For Men,₹284,71% off
15,ORICUM,Combo pack of 2 Casuals Shoes For Men (1563-15...,₹472,52% off
16,Zorth,"New Fashion Outdoor Trendy Lightweight Casual,...",₹573,42% off
17,FILA,EMAN Sneakers For Men,"₹1,266",59% off
18,World Wear Footwear,5011-Latest Collection Stylish Casual Loafer S...,₹273,45% off
19,STRANGER BROTHERS,Sneakers For Men,₹469,53% off
20,ADIDAS,Adiset M Sneakers For Men,"₹1,860",48% off
21,Birde,Combo Pack of 3 Casual Shoes Sneakers For Men,₹714,52% off
22,Magnolia,White Sneakers Sneakers For Men,₹311,68% off
23,REEBOOT,Latest Stylish Collection Casual shoes For Men...,₹199,80% off
24,D-SNEAKERZ,"Casual , Partywear Sneakers Shoes For Men's An...",₹384,61% off
25,SPARX,SM-162 Sneakers For Men,₹730,23% off
26,SWIGGY,"Casual Loafers, Sneakers Shoes for Men Pack of...",₹719,71% off
27,WRIZT,"Casual Sneakers,dancing, walking Sneakers For Men",₹279,72% off
28,PUMA,Corode IDP Sneakers For Men,"₹1,644",58% off
29,World Wear Footwear,Latest Collection-1227 Stylish Casual Sports S...,₹240,51% off
30,PUMA,Acrux IDP Sneakers For Men,"₹1,419",56% off
31,SHOELIFE,Sneakers For Men,₹401,59% off
32,Ktiz,Sneakers For Men,₹399,60% off
33,tigonis,Sneakers For Men,₹379,78% off
34,BRUTON,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,₹474,86% off
35,HOTSTYLE,Sneakers Sneakers For Men,₹283,43% off
36,D-SNEAKERZ,"Casual , Partywear Sneakers Shoes For Men's An...",₹346,65% off
37,ORICUM,shoes For Mens Combo(MR)-1658-466 ( Multicolor...,₹472,52% off
38,Chevit,170 Smart Grey Lace-Ups Casuals for Men Sneake...,₹224,55% off
39,T-ROCK,Synthetic Leather Casual Sneakers Shoes For Me...,₹449,55% off

In [3]:
#send get request to the webpage server to get the source code of the page
url = "https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3"
page = requests.get(url)

# page 3 content
soup = BeautifulSoup(page.content)
Brand = []  
Product_Description = []    
Price = []   
Discount = []

In [4]:
# Scrape Brand name
for i in soup.find_all("div",class_="_2WkVRV"):
    Brand.append(i.text)

# Scrape product Description 
for i in soup.find_all("a",class_="IRpwTa"):
    Product_Description.append(i.text)

# scrap price
for i in soup.find_all("div",class_="_30jeq3"):
    Price.append(i.text)
    
# Scrape Discount_%
for i in soup.find_all("div",class_="_3Ay6Sb"):
    Discount.append(i.text)

In [450]:
# Make data frame 100 sneakers listed on flipkart.com
sneakers=pd.DataFrame({})
sneakers['Brand']=Brand[:20]
sneakers['Product_Description']=Product_Description[:20]
sneakers['Price']=Price[:20]
sneakers['Discount_%'] = Discount[:20]
sneakers

,Brand,Product_Description,Price,Discount_%
0,Ktiz,Rockstyle Trending Multicolor Ultralight canva...,₹440,66% off
1,Robbie jones,Casual Sneakers White Shoes For Men And Boys S...,₹499,50% off
2,BLACK BOTTOM,Fashion Outdoor Canvas Casual Light Weight Par...,₹449,55% off
3,Absolute comfort,EVAW2 Sneakers For Men,₹220,55% off
4,PUMA,Puma Wired Cage Sneakers For Men,"₹1,711",51% off
5,RED TAPE,Sneakers For Men,"₹1,559",70% off
6,PUMA,R78 Sneakers For Men,"₹2,305",42% off
7,Mr ShoesWala,Men's Casual Shoes in White Color Walking Runn...,₹450,54% off
8,Wakefield,Sneakers For Men,₹198,66% off
9,Fzzirok,Premium quality Sneakers For Men,₹379,62% off
10,Birde,Combo Pack of 3 Casual Shoes Sneakers For Men,₹661,55% off
11,Adiso,"NewSneakers,Outdoors,Dancing,Casuals, Partywea...",₹258,74% off
12,Adiso,Sneakers For Men,₹199,80% off
13,U.S. POLO ASSN.,Sneakers For Men,"₹2,087",42% off
14,ROCKFIELD,Sneakers For Men,₹449,55% off
15,Magnolia,Sneakers For Men,₹356,64% off
16,Magnolia,Inspired Dectron Sneakers For Men,₹424,57% off
17,Robbie jones,Casual Sneakers Shoes For Men And Boys Sneaker...,₹474,52% off
18,FILA,DERICO Sneakers For Men,"₹1,505",56% off
19,Zixer,Shoes For Boys Dance shoes Sneakers For Men,₹555,44% off

# Q9

In [14]:
driver = webdriver.Chrome('chromedriver.exe')
time.sleep(2)

In [15]:
driver.get('https://www.myntra.com/shoes')

driver.find_element_by_xpath("//ul[@class='price-list']/li[2]").click()
time.sleep(2)

In [16]:
#color filter
driver.find_element_by_xpath("//span[@data-colorhex='black']").click()

shoe=[]
ssdesc=[]
shoeprice=[]

for i in range(0,2):
    time.sleep(2)
    for i in driver.find_elements_by_xpath("//h3[@class='product-brand']"):
        shoe.append(i.text)
        shoe=shoe[:100]
    
    for i in driver.find_elements_by_xpath("//h4[@class='product-product']"):
        ssdesc.append(i.text)
        ssdesc=ssdesc[:100]
    
    for i in driver.find_elements_by_xpath("//div[@class='product-price']/span[1]"):
        shoeprice.append(i.text)
        shoeprice=shoeprice[:100]

In [18]:
 #going to the next page
driver.find_element_by_xpath("//a[@rel='next']").click()

In [19]:
#creating the dataframe
Myntra_Shoes={'Brand':shoe,'Description':ssdesc,'Price':shoeprice}
Myntra_Shoes=pd.DataFrame(data=Myntra_Shoes)
Myntra_Shoes

               Brand                      Description               Price
0               Nike     Men REACT INFINITY RUN Shoes  Rs. 11596Rs. 14495
1               Nike     Men KD13 EP Basketball Shoes           Rs. 12995
2               Nike      Men JORDAN DELTA Basketball           Rs. 12495
3               Nike        Men JOYRIDE Running Shoes  Rs. 10496Rs. 14995
4               Nike   Women PEGASUS 37 Running Shoes    Rs. 7496Rs. 9995
..               ...                              ...                 ...
95  ADIDAS Originals   Men Nite Jogger Fluid Sneakers   Rs. 8449Rs. 12999
96         J.FONTINI                Men Solid Loafers            Rs. 7990
97      UNDER ARMOUR       HOVR Sonic 3 Running Shoes           Rs. 10999
98           Bugatti  Men Solid Leather Formal Derbys            Rs. 7499
99              Geox     Men Leather Slip-On Sneakers            Rs. 9490

[100 rows x 3 columns]

# Question 10 Laptop 10 listed on amazon.in

In [26]:
#send get request to the webpage server to get the source code of the page
url = "https://www.amazon.in/s?k=laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&dc&qid=1624035895&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_27"
page = requests.get(url)

#content

soup = BeautifulSoup(page.content)
title = [] 
Ratings = []   
Price = [] 
# Scrape title name
for i in soup.find_all("div",class_="a-section a-spacing-none"):
    title.append(i.text)

# Scrape Ratings 
for i in soup.find_all("a",class_="a-popover-trigger a-declarative"):
    Ratings.append(i.text)

# scrap price
for i in soup.find_all("span",class_="a-price-whole"):
    Price.append(i.text)

#Make data frame 10 Laptop listed on amazon.in
Laptop=pd.DataFrame({})
Laptop['title']=title[:10]
Laptop['Ratings']=Ratings[:10]
Laptop['Price']=Price[:10]
Laptop

,title,Ratings,Price
0,\nLooking for Laptops? Shop from a wide select...,4.2 out of 5 stars,"97,990"
1,,4.4 out of 5 stars,"54,999"
2,"Lenovo Yoga 7 11th Gen Intel Core i7 14"" (35.5...",4.5 out of 5 stars,"84,990"
3,,2.4 out of 5 stars,"2,49,990"
4,Mi Notebook Horizon Edition 14 Intel Core i5-1...,3.8 out of 5 stars,"78,990"
5,,3.1 out of 5 stars,"1,74,990"
6,HP Pavilion (2021) Thin & Light 11th Gen Core ...,4.7 out of 5 stars,"88,000"
7,,4.4 out of 5 stars,"99,990"
8,"Dell XPS 9570 15.6"" (39.62cms) UHD Laptop (8th...",4.1 out of 5 stars,"86,990"
9,,3.8 out of 5 stars,"2,45,990"

# End...